In [137]:
import pandas as pd 
import numpy as np
from cassandra.cluster import Cluster
from warnings import simplefilter

simplefilter('ignore')

#### Carrega o dataset

In [3]:
df = pd.read_csv('dadoscovid.csv')

#### Seleciona colunas

In [161]:
columns =['location', 'population', 'people_fully_vaccinated']
df = df[columns]

#### Mostra as informações do dataset

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8624 entries, 0 to 8623
Data columns (total 3 columns):
location                   8624 non-null object
population                 8624 non-null object
people_fully_vaccinated    8624 non-null int32
dtypes: int32(1), object(2)
memory usage: 168.6+ KB

#### Tratamento dos dados

In [165]:
df['people_fully_vaccinated'] = df['people_fully_vaccinated'].fillna(0)
df['population'] = df['population'].astype('int64')
df['people_fully_vaccinated'] = df['people_fully_vaccinated'].astype('int64')
df.loc[df['population'] < 0, 'population'] = [i.split('-')[1] for i in df['population'][df['population'] < 0].astype(str).values]

#### Abre a conexão com o cassandra

In [ ]:
cluster = Cluster(['bigdata-1'],port=9042)
session = cluster.connect()

#### Insere no Cassandra

In [35]:
for i, linha in df.iterrows():
    id = i
    location = linha['location']
    population = linha['population']
    people_fully_vaccinated = linha['people_fully_vaccinated']
    
        
    SQL = f'''INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated) 
            VALUES ({id}, '{location}', {population}, {people_fully_vaccinated});'''
    
    
    session.execute(SQL)

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (0, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (9, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (10, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (11, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (12, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (13, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (14, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (15, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (16, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (17, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (18, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (19, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (20, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (21, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (22, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (23, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (24, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (25, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (26, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (27, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (28, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (29, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (30, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (31, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (32, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (33, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (34, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (35, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (36, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (37, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (38, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (39, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (40, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (41, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (42, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (43, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (44, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (45, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (46, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (47, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (48, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (49, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (50, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (51, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (52, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (53, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (54, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (55, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (56, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (57, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (58, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (59, 'Afghanistan', 38928341, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (60, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (61, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (62, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (63, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (64, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (65, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (66, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (67, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (68, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (69, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (70, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (71, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (72, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (73, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (74, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (75, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (76, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (77, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (78, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (79, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (80, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (81, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (82, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (83, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (84, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (85, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (86, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (87, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (88, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (89, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (90, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (91, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (92, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (93, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (94, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (95, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (96, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (97, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (98, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (99, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (100, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (101, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (102, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (103, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (104, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (105, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (106, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (107, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (108, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (109, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (110, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (111, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (112, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (113, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (114, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (115, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (116, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (117, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (118, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (119, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (120, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (121, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (122, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (123, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (124, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (125, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (126, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (127, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (128, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (129, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (130, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (131, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (132, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (133, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (134, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (135, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (136, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (137, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (138, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (139, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (140, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (141, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (142, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (143, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (144, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (145, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (146, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (147, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (148, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (149, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (150, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (151, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (152, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (153, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (154, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (155, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (156, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (157, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (158, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (159, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (160, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (161, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (162, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (163, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (164, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (165, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (166, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (167, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (168, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (169, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (170, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (171, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (172, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (173, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (174, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (175, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (176, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (177, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (178, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (179, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (180, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (181, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (182, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (183, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (184, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (185, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (186, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (187, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (188, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (189, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (190, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (191, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (192, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (193, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (194, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (195, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (196, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (197, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (198, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (199, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (200, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (201, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (202, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (203, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (204, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (205, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (206, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (207, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (208, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (209, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (210, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (211, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (212, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (213, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (214, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (215, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (216, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (217, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (218, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (219, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (220, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (221, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (222, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (223, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (224, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (225, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (226, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (227, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (228, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (229, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (230, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (231, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (232, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (233, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (234, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (235, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (236, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (237, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (238, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (239, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (240, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (241, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (242, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (243, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (244, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (245, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (246, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (247, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (248, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (249, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (250, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (251, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (252, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (253, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (254, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (255, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (256, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (257, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (258, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (259, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (260, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (261, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (262, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (263, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (264, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (265, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (266, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (267, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (268, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (269, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (270, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (271, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (272, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (273, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (274, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (275, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (276, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (277, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (278, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (279, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (280, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (281, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (282, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (283, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (284, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (285, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (286, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (287, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (288, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (289, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (290, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (291, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (292, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (293, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (294, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (295, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (296, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (297, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (298, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (299, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (300, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (301, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (302, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (303, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (304, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (305, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (306, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (307, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (308, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (309, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (310, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (311, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (312, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (313, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (314, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (315, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (316, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (317, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (318, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (319, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (320, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (321, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (322, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (323, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (324, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (325, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (326, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (327, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (328, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (329, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (330, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (331, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (332, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (333, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (334, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (335, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (336, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (337, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (338, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (339, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (340, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (341, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (342, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (343, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (344, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (345, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (346, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (347, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (348, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (349, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (350, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (351, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (352, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (353, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (354, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (355, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (356, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (357, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (358, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (359, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (360, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (361, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (362, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (363, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (364, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (365, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (366, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (367, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (368, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (369, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (370, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (371, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (372, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (373, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (374, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (375, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (376, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (377, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (378, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (379, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (380, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (381, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (382, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (383, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (384, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (385, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (386, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (387, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (388, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (389, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (390, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (391, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (392, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (393, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (394, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (395, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (396, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (397, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (398, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (399, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (400, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (401, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (402, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (403, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (404, 'Afghanistan', 38928341, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (405, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (406, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (407, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (408, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (409, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (410, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (411, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (412, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (413, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (414, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (415, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (416, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (417, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (418, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (419, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (420, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (421, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (422, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (423, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (424, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (425, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (426, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (427, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (428, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (429, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (430, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (431, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (432, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (433, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (434, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (435, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (436, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (437, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (438, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (439, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (440, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (441, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (442, 'Afghanistan', 38928341, 55624);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (443, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (444, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (445, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (446, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (447, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (448, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (449, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (450, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (451, 'Afghanistan', 38928341, 77560);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (452, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (453, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (454, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (455, 'Afghanistan', 38928341, 96910);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (456, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (457, 'Afghanistan', 38928341, 111082);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (458, 'Afghanistan', 38928341, 113739);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (459, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (460, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (461, 'Afghanistan', 38928341, 119926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (462, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (463, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (464, 'Afghanistan', 38928341, 144600);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (465, 'Afghanistan', 38928341, 148505);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (466, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (467, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (468, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (469, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (470, 'Afghanistan', 38928341, 158343);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (471, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (472, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (473, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (474, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (475, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (476, 'Afghanistan', 38928341, 177266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (477, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (478, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (479, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (480, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (481, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (482, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (483, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (484, 'Afghanistan', 38928341, 183762);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (485, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (486, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (487, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (488, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (489, 'Afghanistan', 38928341, 186260);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (490, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (491, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (492, 'Afghanistan', 38928341, 187654);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (493, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (494, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (495, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (496, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (497, 'Afghanistan', 38928341, 189322);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (498, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (499, 'Afghanistan', 38928341, 199250);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (500, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (501, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (502, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (503, 'Afghanistan', 38928341, 219159);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (504, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (505, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (506, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (507, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (508, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (509, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (510, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (511, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (512, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (513, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (514, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (515, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (516, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (517, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (518, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (519, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (520, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (521, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (522, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (523, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (524, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (525, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (526, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (527, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (528, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (529, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (530, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (531, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (532, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (533, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (534, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (535, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (536, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (537, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (538, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (539, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (540, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (541, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (542, 'Afghanistan', 38928341, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (543, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (544, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (545, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (546, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (547, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (548, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (549, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (550, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (551, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (552, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (553, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (554, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (555, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (556, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (557, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (558, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (559, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (560, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (561, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (562, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (563, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (564, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (565, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (566, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (567, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (568, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (569, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (570, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (571, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (572, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (573, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (574, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (575, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (576, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (577, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (578, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (579, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (580, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (581, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (582, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (583, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (584, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (585, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (586, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (587, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (588, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (589, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (590, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (591, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (592, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (593, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (594, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (595, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (596, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (597, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (598, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (599, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (600, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (601, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (602, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (603, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (604, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (605, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (606, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (607, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (608, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (609, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (610, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (611, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (612, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (613, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (614, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (615, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (616, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (617, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (618, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (619, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (620, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (621, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (622, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (623, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (624, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (625, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (626, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (627, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (628, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (629, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (630, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (631, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (632, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (633, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (634, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (635, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (636, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (637, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (638, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (639, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (640, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (641, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (642, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (643, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (644, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (645, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (646, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (647, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (648, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (649, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (650, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (651, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (652, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (653, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (654, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (655, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (656, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (657, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (658, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (659, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (660, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (661, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (662, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (663, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (664, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (665, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (666, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (667, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (668, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (669, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (670, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (671, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (672, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (673, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (674, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (675, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (676, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (677, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (678, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (679, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (680, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (681, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (682, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (683, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (684, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (685, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (686, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (687, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (688, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (689, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (690, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (691, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (692, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (693, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (694, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (695, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (696, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (697, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (698, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (699, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (700, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (701, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (702, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (703, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (704, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (705, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (706, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (707, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (708, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (709, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (710, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (711, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (712, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (713, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (714, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (715, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (716, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (717, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (718, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (719, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (720, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (721, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (722, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (723, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (724, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (725, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (726, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (727, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (728, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (729, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (730, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (731, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (732, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (733, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (734, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (735, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (736, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (737, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (738, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (739, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (740, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (741, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (742, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (743, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (744, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (745, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (746, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (747, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (748, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (749, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (750, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (751, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (752, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (753, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (754, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (755, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (756, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (757, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (758, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (759, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (760, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (761, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (762, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (763, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (764, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (765, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (766, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (767, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (768, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (769, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (770, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (771, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (772, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (773, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (774, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (775, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (776, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (777, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (778, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (779, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (780, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (781, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (782, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (783, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (784, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (785, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (786, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (787, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (788, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (789, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (790, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (791, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (792, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (793, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (794, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (795, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (796, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (797, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (798, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (799, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (800, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (801, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (802, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (803, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (804, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (805, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (806, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (807, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (808, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (809, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (810, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (811, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (812, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (813, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (814, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (815, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (816, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (817, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (818, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (819, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (820, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (821, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (822, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (823, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (824, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (825, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (826, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (827, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (828, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (829, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (830, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (831, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (832, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (833, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (834, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (835, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (836, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (837, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (838, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (839, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (840, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (841, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (842, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (843, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (844, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (845, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (846, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (847, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (848, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (849, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (850, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (851, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (852, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (853, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (854, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (855, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (856, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (857, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (858, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (859, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (860, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (861, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (862, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (863, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (864, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (865, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (866, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (867, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (868, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (869, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (870, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (871, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (872, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (873, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (874, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (875, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (876, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (877, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (878, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (879, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (880, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (881, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (882, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (883, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (884, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (885, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (886, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (887, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (888, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (889, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (890, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (891, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (892, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (893, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (894, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (895, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (896, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (897, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (898, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (899, 'Africa', 1340598113, 5);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (900, 'Africa', 1340598113, 5);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (901, 'Africa', 1340598113, 5);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (902, 'Africa', 1340598113, 1586);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (903, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (904, 'Africa', 1340598113, 3980);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (905, 'Africa', 1340598113, 6700);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (906, 'Africa', 1340598113, 10335);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (907, 'Africa', 1340598113, 13867);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (908, 'Africa', 1340598113, 13867);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (909, 'Africa', 1340598113, 14181);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (910, 'Africa', 1340598113, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (911, 'Africa', 1340598113, 16441);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (912, 'Africa', 1340598113, 18176);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (913, 'Africa', 1340598113, 19512);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (914, 'Africa', 1340598113, 22925);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (915, 'Africa', 1340598113, 32990);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (916, 'Africa', 1340598113, 45489);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (917, 'Africa', 1340598113, 50463);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (918, 'Africa', 1340598113, 68325);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (919, 'Africa', 1340598113, 86927);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (920, 'Africa', 1340598113, 102499);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (921, 'Africa', 1340598113, 119792);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (922, 'Africa', 1340598113, 183604);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (923, 'Africa', 1340598113, 252758);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (924, 'Africa', 1340598113, 255982);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (925, 'Africa', 1340598113, 330257);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (926, 'Africa', 1340598113, 394124);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (927, 'Africa', 1340598113, 468861);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (928, 'Africa', 1340598113, 529681);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (929, 'Africa', 1340598113, 624742);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (930, 'Africa', 1340598113, 705135);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (931, 'Africa', 1340598113, 705135);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (932, 'Africa', 1340598113, 779759);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (933, 'Africa', 1340598113, 850734);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (934, 'Africa', 1340598113, 1010055);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (935, 'Africa', 1340598113, 1137129);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (936, 'Africa', 1340598113, 1397210);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (937, 'Africa', 1340598113, 1644318);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (938, 'Africa', 1340598113, 1644318);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (939, 'Africa', 1340598113, 1942667);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (940, 'Africa', 1340598113, 2146524);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (941, 'Africa', 1340598113, 2312736);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (942, 'Africa', 1340598113, 2321849);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (943, 'Africa', 1340598113, 2563824);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (944, 'Africa', 1340598113, 2634856);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (945, 'Africa', 1340598113, 2634856);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (946, 'Africa', 1340598113, 2728498);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (947, 'Africa', 1340598113, 2820695);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (948, 'Africa', 1340598113, 3089404);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (949, 'Africa', 1340598113, 3329642);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (950, 'Africa', 1340598113, 3503614);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (951, 'Africa', 1340598113, 3606163);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (952, 'Africa', 1340598113, 3608826);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (953, 'Africa', 1340598113, 3743035);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (954, 'Africa', 1340598113, 3870510);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (955, 'Africa', 1340598113, 3995049);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (956, 'Africa', 1340598113, 4097537);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (957, 'Africa', 1340598113, 4174318);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (958, 'Africa', 1340598113, 4226013);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (959, 'Africa', 1340598113, 4226289);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (960, 'Africa', 1340598113, 4285890);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (961, 'Africa', 1340598113, 4333474);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (962, 'Africa', 1340598113, 4399278);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (963, 'Africa', 1340598113, 4443032);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (964, 'Africa', 1340598113, 4477593);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (965, 'Africa', 1340598113, 4516916);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (966, 'Africa', 1340598113, 4531219);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (967, 'Africa', 1340598113, 4533119);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (968, 'Africa', 1340598113, 4546621);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (969, 'Africa', 1340598113, 4558759);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (970, 'Africa', 1340598113, 4589663);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (971, 'Africa', 1340598113, 4600852);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (972, 'Africa', 1340598113, 4607983);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (973, 'Africa', 1340598113, 4630823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (974, 'Africa', 1340598113, 4648624);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (975, 'Africa', 1340598113, 4663908);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (976, 'Africa', 1340598113, 4680066);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (977, 'Africa', 1340598113, 4691880);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (978, 'Africa', 1340598113, 4712634);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (979, 'Africa', 1340598113, 4727792);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (980, 'Africa', 1340598113, 4740830);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (981, 'Africa', 1340598113, 4755809);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (982, 'Africa', 1340598113, 4783203);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (983, 'Africa', 1340598113, 4828904);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (984, 'Africa', 1340598113, 4856173);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (985, 'Africa', 1340598113, 4883115);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (986, 'Africa', 1340598113, 4896350);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (987, 'Africa', 1340598113, 4904881);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (988, 'Africa', 1340598113, 4947142);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (989, 'Africa', 1340598113, 5027649);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (990, 'Africa', 1340598113, 5082069);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (991, 'Africa', 1340598113, 5107964);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (992, 'Africa', 1340598113, 5166964);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (993, 'Africa', 1340598113, 5265772);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (994, 'Africa', 1340598113, 5518732);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (995, 'Africa', 1340598113, 5557451);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (996, 'Africa', 1340598113, 5599564);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (997, 'Africa', 1340598113, 5773814);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (998, 'Africa', 1340598113, 5809850);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (999, 'Africa', 1340598113, 5863124);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1000, 'Africa', 1340598113, 5940500);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1001, 'Africa', 1340598113, 5950153);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1002, 'Africa', 1340598113, 6017432);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1003, 'Africa', 1340598113, 6165017);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1004, 'Africa', 1340598113, 6295276);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1005, 'Africa', 1340598113, 6370135);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1006, 'Africa', 1340598113, 6634192);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1007, 'Africa', 1340598113, 6738732);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1008, 'Africa', 1340598113, 6762593);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1009, 'Africa', 1340598113, 6836558);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1010, 'Africa', 1340598113, 6983446);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1011, 'Africa', 1340598113, 7112926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1012, 'Africa', 1340598113, 7136486);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1013, 'Africa', 1340598113, 7174630);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1014, 'Africa', 1340598113, 7229614);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1015, 'Africa', 1340598113, 7296977);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1016, 'Africa', 1340598113, 8432047);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1017, 'Africa', 1340598113, 8669747);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1018, 'Africa', 1340598113, 8853952);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1019, 'Africa', 1340598113, 8974842);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1020, 'Africa', 1340598113, 9103131);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1021, 'Africa', 1340598113, 9179236);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1022, 'Africa', 1340598113, 9372059);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1023, 'Africa', 1340598113, 9675364);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1024, 'Africa', 1340598113, 10230768);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1025, 'Africa', 1340598113, 10657132);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1026, 'Africa', 1340598113, 11002402);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1027, 'Africa', 1340598113, 11221604);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1028, 'Africa', 1340598113, 11341272);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1029, 'Africa', 1340598113, 11367224);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1030, 'Africa', 1340598113, 11826935);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1031, 'Africa', 1340598113, 12539755);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1032, 'Africa', 1340598113, 12739901);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1033, 'Africa', 1340598113, 12979248);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1034, 'Africa', 1340598113, 13203558);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1035, 'Africa', 1340598113, 13290305);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1036, 'Africa', 1340598113, 13396618);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1037, 'Africa', 1340598113, 13773349);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1038, 'Africa', 1340598113, 13823958);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1039, 'Africa', 1340598113, 14022864);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1040, 'Africa', 1340598113, 14566440);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1041, 'Africa', 1340598113, 14738907);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1042, 'Africa', 1340598113, 14863481);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1043, 'Africa', 1340598113, 14955922);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1044, 'Africa', 1340598113, 15364225);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1045, 'Africa', 1340598113, 15450256);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1046, 'Africa', 1340598113, 15683683);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1047, 'Africa', 1340598113, 15762643);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1048, 'Africa', 1340598113, 15829509);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1049, 'Africa', 1340598113, 15864814);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1050, 'Africa', 1340598113, 16043230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1051, 'Africa', 1340598113, 16477902);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1052, 'Africa', 1340598113, 16591834);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1053, 'Africa', 1340598113, 16692037);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1054, 'Africa', 1340598113, 17530194);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1055, 'Africa', 1340598113, 17644109);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1056, 'Africa', 1340598113, 17670922);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1057, 'Africa', 1340598113, 17696601);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1058, 'Africa', 1340598113, 18565211);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1059, 'Africa', 1340598113, 18785823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1060, 'Africa', 1340598113, 18917188);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1061, 'Africa', 1340598113, 19334248);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1062, 'Africa', 1340598113, 19372619);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1063, 'Africa', 1340598113, 19426985);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1064, 'Africa', 1340598113, 19516240);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1065, 'Africa', 1340598113, 20114812);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1066, 'Africa', 1340598113, 20238300);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1067, 'Africa', 1340598113, 20253369);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1068, 'Africa', 1340598113, 20699892);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1069, 'Africa', 1340598113, 20848080);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1070, 'Africa', 1340598113, 20940736);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1071, 'Africa', 1340598113, 21287604);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1072, 'Africa', 1340598113, 21505251);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1073, 'Africa', 1340598113, 21898885);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1074, 'Africa', 1340598113, 22058399);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1075, 'Africa', 1340598113, 23235369);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1076, 'Africa', 1340598113, 23375654);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1077, 'Africa', 1340598113, 23413662);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1078, 'Africa', 1340598113, 23581377);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1079, 'Africa', 1340598113, 23908208);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1080, 'Africa', 1340598113, 24687540);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1081, 'Africa', 1340598113, 24707541);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1082, 'Africa', 1340598113, 25157677);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1083, 'Africa', 1340598113, 25326495);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1084, 'Africa', 1340598113, 25850326);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1085, 'Africa', 1340598113, 26233511);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1086, 'Africa', 1340598113, 26714908);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1087, 'Africa', 1340598113, 27161378);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1088, 'Africa', 1340598113, 27338751);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1089, 'Africa', 1340598113, 27966313);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1090, 'Africa', 1340598113, 28151888);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1091, 'Africa', 1340598113, 28260064);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1092, 'Africa', 1340598113, 28434263);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1093, 'Africa', 1340598113, 29553394);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1094, 'Africa', 1340598113, 30003574);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1095, 'Africa', 1340598113, 30812378);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1096, 'Africa', 1340598113, 31374048);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1097, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1098, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1099, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1100, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1101, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1102, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1103, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1104, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1105, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1106, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1107, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1108, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1109, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1110, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1111, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1112, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1113, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1114, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1115, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1116, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1117, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1118, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1119, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1120, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1121, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1122, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1123, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1124, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1125, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1126, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1127, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1128, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1129, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1130, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1131, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1132, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1133, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1134, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1135, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1136, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1137, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1138, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1139, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1140, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1141, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1142, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1143, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1144, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1145, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1146, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1147, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1148, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1149, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1150, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1151, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1152, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1153, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1154, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1155, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1156, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1157, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1158, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1159, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1160, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1161, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1162, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1163, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1164, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1165, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1166, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1167, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1168, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1169, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1170, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1171, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1172, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1173, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1174, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1175, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1176, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1177, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1178, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1179, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1180, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1181, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1182, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1183, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1184, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1185, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1186, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1187, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1188, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1189, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1190, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1191, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1192, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1193, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1194, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1195, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1196, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1197, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1198, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1199, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1200, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1201, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1202, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1203, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1204, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1205, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1206, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1207, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1208, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1209, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1210, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1211, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1212, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1213, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1214, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1215, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1216, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1217, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1218, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1219, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1220, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1221, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1222, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1223, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1224, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1225, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1226, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1227, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1228, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1229, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1230, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1231, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1232, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1233, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1234, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1235, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1236, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1237, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1238, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1239, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1240, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1241, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1242, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1243, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1244, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1245, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1246, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1247, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1248, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1249, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1250, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1251, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1252, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1253, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1254, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1255, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1256, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1257, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1258, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1259, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1260, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1261, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1262, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1263, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1264, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1265, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1266, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1267, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1268, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1269, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1270, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1271, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1272, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1273, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1274, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1275, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1276, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1277, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1278, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1279, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1280, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1281, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1282, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1283, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1284, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1285, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1286, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1287, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1288, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1289, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1290, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1291, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1292, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1293, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1294, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1295, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1296, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1297, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1298, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1299, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1300, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1301, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1302, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1303, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1304, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1305, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1306, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1307, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1308, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1309, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1310, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1311, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1312, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1313, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1314, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1315, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1316, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1317, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1318, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1319, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1320, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1321, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1322, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1323, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1324, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1325, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1326, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1327, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1328, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1329, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1330, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1331, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1332, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1333, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1334, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1335, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1336, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1337, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1338, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1339, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1340, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1341, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1342, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1343, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1344, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1345, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1346, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1347, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1348, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1349, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1350, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1351, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1352, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1353, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1354, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1355, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1356, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1357, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1358, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1359, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1360, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1361, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1362, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1363, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1364, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1365, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1366, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1367, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1368, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1369, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1370, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1371, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1372, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1373, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1374, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1375, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1376, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1377, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1378, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1379, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1380, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1381, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1382, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1383, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1384, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1385, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1386, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1387, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1388, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1389, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1390, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1391, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1392, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1393, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1394, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1395, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1396, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1397, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1398, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1399, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1400, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1401, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1402, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1403, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1404, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1405, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1406, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1407, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1408, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1409, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1410, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1411, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1412, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1413, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1414, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1415, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1416, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1417, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1418, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1419, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1420, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1421, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1422, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1423, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1424, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1425, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1426, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1427, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1428, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1429, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1430, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1431, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1432, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1433, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1434, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1435, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1436, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1437, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1438, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1439, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1440, 'Albania', 2877800, 1);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1441, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1442, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1443, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1444, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1445, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1446, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1447, 'Albania', 2877800, 438);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1448, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1449, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1450, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1451, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1452, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1453, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1454, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1455, 'Albania', 2877800, 611);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1456, 'Albania', 2877800, 611);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1457, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1458, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1459, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1460, 'Albania', 2877800, 655);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1461, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1462, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1463, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1464, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1465, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1466, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1467, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1468, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1469, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1470, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1471, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1472, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1473, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1474, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1475, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1476, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1477, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1478, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1479, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1480, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1481, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1482, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1483, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1484, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1485, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1486, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1487, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1488, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1489, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1490, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1491, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1492, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1493, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1494, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1495, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1496, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1497, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1498, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1499, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1500, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1501, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1502, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1503, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1504, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1505, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1506, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1507, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1508, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1509, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1510, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1511, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1512, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1513, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1514, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1515, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1516, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1517, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1518, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1519, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1520, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1521, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1522, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1523, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1524, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1525, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1526, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1527, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1528, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1529, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1530, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1531, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1532, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1533, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1534, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1535, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1536, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1537, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1538, 'Albania', 2877800, 181586);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1539, 'Albania', 2877800, 187921);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1540, 'Albania', 2877800, 192936);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1541, 'Albania', 2877800, 204759);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1542, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1543, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1544, 'Albania', 2877800, 223103);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1545, 'Albania', 2877800, 228756);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1546, 'Albania', 2877800, 234409);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1547, 'Albania', 2877800, 237660);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1548, 'Albania', 2877800, 239677);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1549, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1550, 'Albania', 2877800, 243776);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1551, 'Albania', 2877800, 249898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1552, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1553, 'Albania', 2877800, 269197);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1554, 'Albania', 2877800, 277255);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1555, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1556, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1557, 'Albania', 2877800, 287042);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1558, 'Albania', 2877800, 290333);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1559, 'Albania', 2877800, 293264);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1560, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1561, 'Albania', 2877800, 297271);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1562, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1563, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1564, 'Albania', 2877800, 306102);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1565, 'Albania', 2877800, 310336);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1566, 'Albania', 2877800, 315555);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1567, 'Albania', 2877800, 320532);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1568, 'Albania', 2877800, 324616);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1569, 'Albania', 2877800, 328546);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1570, 'Albania', 2877800, 331147);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1571, 'Albania', 2877800, 332173);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1572, 'Albania', 2877800, 334771);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1573, 'Albania', 2877800, 340576);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1574, 'Albania', 2877800, 344945);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1575, 'Albania', 2877800, 351453);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1576, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1577, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1578, 'Albania', 2877800, 365028);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1579, 'Albania', 2877800, 370378);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1580, 'Albania', 2877800, 375629);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1581, 'Albania', 2877800, 380649);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1582, 'Albania', 2877800, 385868);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1583, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1584, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1585, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1586, 'Albania', 2877800, 396139);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1587, 'Albania', 2877800, 399246);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1588, 'Albania', 2877800, 403504);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1589, 'Albania', 2877800, 407402);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1590, 'Albania', 2877800, 412147);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1591, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1592, 'Albania', 2877800, 416791);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1593, 'Albania', 2877800, 419894);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1594, 'Albania', 2877800, 423158);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1595, 'Albania', 2877800, 426111);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1596, 'Albania', 2877800, 429191);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1597, 'Albania', 2877800, 431722);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1598, 'Albania', 2877800, 434170);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1599, 'Albania', 2877800, 434926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1600, 'Albania', 2877800, 438758);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1601, 'Albania', 2877800, 443165);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1602, 'Albania', 2877800, 448830);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1603, 'Albania', 2877800, 455131);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1604, 'Albania', 2877800, 460655);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1605, 'Albania', 2877800, 465434);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1606, 'Albania', 2877800, 466905);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1607, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1608, 'Albania', 2877800, 472886);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1609, 'Albania', 2877800, 478861);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1610, 'Albania', 2877800, 485295);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1611, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1612, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1613, 'Albania', 2877800, 498724);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1614, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1615, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1616, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1617, 'Albania', 2877800, 519013);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1618, 'Albania', 2877800, 525215);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1619, 'Albania', 2877800, 528718);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1620, 'Albania', 2877800, 530322);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1621, 'Albania', 2877800, 534823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1622, 'Albania', 2877800, 538588);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1623, 'Albania', 2877800, 541637);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1624, 'Albania', 2877800, 545036);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1625, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1626, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1627, 'Albania', 2877800, 553482);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1628, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1629, 'Albania', 2877800, 560007);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1630, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1631, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1632, 'Albania', 2877800, 567455);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1633, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1634, 'Albania', 2877800, 570233);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1635, 'Albania', 2877800, 572816);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1636, 'Albania', 2877800, 575342);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1637, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1638, 'Albania', 2877800, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1639, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1640, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1641, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1642, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1643, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1644, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1645, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1646, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1647, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1648, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1649, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1650, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1651, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1652, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1653, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1654, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1655, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1656, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1657, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1658, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1659, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1660, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1661, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1662, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1663, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1664, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1665, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1666, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1667, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1668, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1669, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1670, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1671, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1672, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1673, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1674, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1675, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1676, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1677, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1678, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1679, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1680, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1681, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1682, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1683, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1684, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1685, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1686, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1687, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1688, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1689, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1690, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1691, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1692, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1693, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1694, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1695, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1696, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1697, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1698, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1699, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1700, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1701, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1702, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1703, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1704, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1705, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1706, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1707, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1708, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1709, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1710, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1711, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1712, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1713, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1714, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1715, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1716, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1717, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1718, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1719, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1720, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1721, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1722, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1723, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1724, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1725, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1726, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1727, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1728, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1729, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1730, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1731, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1732, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1733, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1734, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1735, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1736, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1737, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1738, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1739, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1740, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1741, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1742, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1743, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1744, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1745, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1746, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1747, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1748, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1749, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1750, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1751, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1752, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1753, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1754, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1755, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1756, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1757, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1758, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1759, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1760, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1761, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1762, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1763, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1764, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1765, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1766, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1767, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1768, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1769, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1770, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1771, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1772, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1773, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1774, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1775, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1776, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1777, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1778, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1779, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1780, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1781, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1782, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1783, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1784, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1785, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1786, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1787, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1788, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1789, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1790, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1791, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1792, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1793, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1794, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1795, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1796, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1797, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1798, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1799, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1800, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1801, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1802, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1803, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1804, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1805, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1806, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1807, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1808, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1809, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1810, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1811, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1812, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1813, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1814, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1815, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1816, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1817, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1818, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1819, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1820, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1821, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1822, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1823, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1824, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1825, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1826, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1827, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1828, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1829, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1830, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1831, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1832, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1833, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1834, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1835, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1836, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1837, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1838, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1839, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1840, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1841, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1842, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1843, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1844, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1845, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1846, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1847, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1848, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1849, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1850, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1851, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1852, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1853, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1854, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1855, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1856, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1857, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1858, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1859, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1860, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1861, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1862, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1863, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1864, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1865, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1866, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1867, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1868, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1869, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1870, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1871, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1872, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1873, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1874, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1875, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1876, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1877, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1878, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1879, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1880, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1881, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1882, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1883, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1884, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1885, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1886, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1887, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1888, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1889, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1890, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1891, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1892, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1893, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1894, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1895, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1896, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1897, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1898, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1899, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1900, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1901, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1902, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1903, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1904, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1905, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1906, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1907, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1908, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1909, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1910, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1911, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1912, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1913, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1914, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1915, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1916, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1917, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1918, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1919, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1920, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1921, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1922, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1923, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1924, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1925, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1926, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1927, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1928, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1929, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1930, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1931, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1932, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1933, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1934, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1935, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1936, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1937, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1938, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1939, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1940, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1941, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1942, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1943, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1944, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1945, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1946, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1947, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1948, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1949, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1950, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1951, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1952, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1953, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1954, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1955, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1956, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1957, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1958, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1959, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1960, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (1961, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1962, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1963, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1964, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1965, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1966, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1967, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1968, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1969, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1970, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1971, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1972, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1973, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1974, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1975, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1976, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1977, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1978, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1979, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1980, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1981, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1982, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1983, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1984, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1985, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1986, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1987, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1988, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1989, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1990, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1991, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1992, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1993, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1994, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1995, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1996, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1997, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1998, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (1999, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2000, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2001, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2002, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2003, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2004, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2005, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2006, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2007, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2008, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2009, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2010, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2011, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2012, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2013, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2014, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2015, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2016, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2017, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2018, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2019, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2020, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2021, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2022, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2023, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2024, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2025, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2026, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2027, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2028, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2029, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2030, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2031, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2032, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2033, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2034, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2035, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2036, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2037, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2038, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2039, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2040, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2041, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2042, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2043, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2044, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2045, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2046, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2047, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2048, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2049, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2050, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2051, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2052, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2053, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2054, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2055, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2056, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2057, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2058, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2059, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2060, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2061, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2062, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2063, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2064, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2065, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2066, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2067, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2068, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2069, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2070, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2071, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2072, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2073, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2074, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2075, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2076, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2077, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2078, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2079, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2080, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2081, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2082, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2083, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2084, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2085, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2086, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2087, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2088, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2089, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2090, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2091, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2092, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2093, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2094, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2095, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2096, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2097, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2098, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2099, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2100, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2101, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2102, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2103, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2104, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2105, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2106, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2107, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2108, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2109, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2110, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2111, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2112, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2113, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2114, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2115, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2116, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2117, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2118, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2119, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2120, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2121, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2122, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2123, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2124, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2125, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2126, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2127, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2128, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2129, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2130, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2131, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2132, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2133, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2134, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2135, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2136, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2137, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2138, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2139, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2140, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2141, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2142, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2143, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2144, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2145, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2146, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2147, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2148, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2149, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2150, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2151, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2152, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2153, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2154, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2155, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2156, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2157, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2158, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2159, 'Algeria', 43851043, 724812);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2160, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2161, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2162, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2163, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2164, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2165, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2166, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2167, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2168, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2169, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2170, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2171, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2172, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2173, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2174, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2175, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2176, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2177, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2178, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2179, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2180, 'Algeria', 43851043, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2181, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2182, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2183, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2184, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2185, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2186, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2187, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2188, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2189, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2190, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2191, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2192, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2193, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2194, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2195, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2196, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2197, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2198, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2199, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2200, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2201, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2202, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2203, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2204, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2205, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2206, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2207, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2208, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2209, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2210, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2211, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2212, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2213, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2214, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2215, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2216, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2217, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2218, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2219, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2220, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2221, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2222, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2223, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2224, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2225, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2226, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2227, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2228, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2229, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2230, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2231, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2232, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2233, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2234, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2235, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2236, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2237, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2238, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2239, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2240, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2241, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2242, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2243, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2244, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2245, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2246, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2247, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2248, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2249, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2250, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2251, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2252, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2253, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2254, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2255, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2256, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2257, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2258, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2259, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2260, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2261, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2262, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2263, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2264, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2265, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2266, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2267, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2268, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2269, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2270, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2271, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2272, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2273, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2274, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2275, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2276, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2277, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2278, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2279, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2280, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2281, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2282, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2283, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2284, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2285, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2286, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2287, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2288, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2289, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2290, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2291, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2292, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2293, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2294, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2295, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2296, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2297, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2298, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2299, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2300, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2301, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2302, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2303, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2304, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2305, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2306, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2307, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2308, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2309, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2310, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2311, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2312, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2313, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2314, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2315, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2316, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2317, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2318, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2319, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2320, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2321, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2322, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2323, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2324, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2325, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2326, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2327, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2328, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2329, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2330, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2331, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2332, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2333, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2334, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2335, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2336, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2337, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2338, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2339, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2340, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2341, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2342, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2343, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2344, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2345, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2346, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2347, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2348, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2349, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2350, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2351, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2352, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2353, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2354, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2355, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2356, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2357, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2358, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2359, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2360, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2361, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2362, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2363, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2364, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2365, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2366, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2367, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2368, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2369, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2370, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2371, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2372, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2373, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2374, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2375, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2376, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2377, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2378, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2379, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2380, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2381, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2382, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2383, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2384, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2385, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2386, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2387, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2388, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2389, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2390, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2391, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2392, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2393, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2394, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2395, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2396, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2397, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2398, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2399, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2400, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2401, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2402, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2403, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2404, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2405, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2406, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2407, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2408, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2409, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2410, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2411, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2412, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2413, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2414, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2415, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2416, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2417, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2418, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2419, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2420, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2421, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2422, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2423, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2424, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2425, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2426, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2427, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2428, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2429, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2430, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2431, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2432, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2433, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2434, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2435, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2436, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2437, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2438, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2439, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2440, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2441, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2442, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2443, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2444, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2445, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2446, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2447, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2448, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2449, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2450, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2451, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2452, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2453, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2454, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2455, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2456, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2457, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2458, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2459, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2460, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2461, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2462, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2463, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2464, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2465, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2466, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2467, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2468, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2469, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2470, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2471, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2472, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2473, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2474, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2475, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2476, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2477, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2478, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2479, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2480, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2481, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2482, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2483, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2484, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2485, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2486, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2487, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2488, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2489, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2490, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2491, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2492, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2493, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2494, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2495, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2496, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2497, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2498, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2499, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2500, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2501, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2502, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2503, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2504, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2505, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2506, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2507, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2508, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2509, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2510, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2511, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2512, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2513, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2514, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2515, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2516, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2517, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2518, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2519, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2520, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2521, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2522, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2523, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2524, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2525, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2526, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2527, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2528, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2529, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2530, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2531, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2532, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2533, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2534, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2535, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2536, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2537, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2538, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2539, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2540, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2541, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2542, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2543, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2544, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2545, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2546, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2547, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2548, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2549, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2550, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2551, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2552, 'Andorra', 77265, 1172);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2553, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2554, 'Andorra', 77265, 1264);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2555, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2556, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2557, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2558, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2559, 'Andorra', 77265, 1265);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2560, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2561, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2562, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2563, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2564, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2565, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2566, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2567, 'Andorra', 77265, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2568, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2569, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2570, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2571, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2572, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2573, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2574, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2575, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2576, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2577, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2578, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2579, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2580, 'Andorra', 77265, 4484);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2581, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2582, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2583, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2584, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2585, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2586, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2587, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2588, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2589, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2590, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2591, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2592, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2593, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2594, 'Andorra', 77265, 4681);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2595, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2596, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2597, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2598, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2599, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2600, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2601, 'Andorra', 77265, 4681);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2602, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2603, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2604, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2605, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2606, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2607, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2608, 'Andorra', 77265, 4699);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2609, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2610, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2611, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2612, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2613, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2614, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2615, 'Andorra', 77265, 4702);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2616, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2617, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2618, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2619, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2620, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2621, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2622, 'Andorra', 77265, 4704);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2623, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2624, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2625, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2626, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2627, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2628, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2629, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2630, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2631, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2632, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2633, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2634, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2635, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2636, 'Andorra', 77265, 8303);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2637, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2638, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2639, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2640, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2641, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2642, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2643, 'Andorra', 77265, 10938);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2644, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2645, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2646, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2647, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2648, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2649, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2650, 'Andorra', 77265, 16416);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2651, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2652, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2653, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2654, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2655, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2656, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2657, 'Andorra', 77265, 24598);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2658, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2659, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2660, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2661, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2662, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2663, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2664, 'Andorra', 77265, 26613);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2665, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2666, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2667, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2668, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2669, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2670, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2671, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2672, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2673, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2674, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2675, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2676, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2677, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2678, 'Andorra', 77265, 27010);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2679, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2680, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2681, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2682, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2683, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2684, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2685, 'Andorra', 77265, 33904);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2686, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2687, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2688, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2689, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2690, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2691, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2692, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2693, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2694, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2695, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2696, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2697, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2698, 'Andorra', 77265, 35573);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2699, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2700, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2701, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2702, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2703, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2704, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2705, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2706, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2707, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2708, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2709, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2710, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2711, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2712, 'Andorra', 77265, 40616);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2713, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2714, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2715, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2716, 'Andorra', 77265, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2717, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2718, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2719, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2720, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2721, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2722, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2723, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2724, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2725, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2726, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2727, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2728, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2729, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2730, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2731, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2732, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2733, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2734, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2735, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2736, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2737, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2738, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2739, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2740, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2741, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2742, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2743, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2744, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2745, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2746, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2747, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2748, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2749, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2750, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2751, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2752, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2753, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2754, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2755, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2756, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2757, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2758, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2759, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2760, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2761, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2762, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2763, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2764, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2765, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2766, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2767, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2768, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2769, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2770, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2771, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2772, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2773, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2774, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2775, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2776, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2777, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2778, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2779, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2780, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2781, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2782, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2783, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2784, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2785, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2786, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2787, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2788, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2789, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2790, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2791, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2792, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2793, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2794, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2795, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2796, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2797, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2798, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2799, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2800, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2801, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2802, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2803, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2804, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2805, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2806, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2807, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2808, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2809, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2810, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2811, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2812, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2813, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2814, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2815, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2816, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2817, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2818, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2819, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2820, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2821, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2822, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2823, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2824, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2825, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2826, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2827, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2828, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2829, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2830, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2831, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2832, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2833, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2834, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2835, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2836, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2837, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2838, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2839, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2840, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2841, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2842, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2843, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2844, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2845, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2846, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2847, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2848, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2849, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2850, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2851, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2852, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2853, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2854, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2855, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2856, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2857, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2858, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2859, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2860, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2861, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2862, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2863, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2864, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2865, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2866, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2867, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2868, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2869, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2870, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2871, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2872, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2873, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2874, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2875, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2876, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2877, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2878, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2879, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2880, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2881, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2882, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2883, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2884, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2885, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2886, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2887, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2888, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2889, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2890, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2891, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2892, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2893, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2894, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2895, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2896, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2897, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2898, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2899, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2900, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2901, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2902, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2903, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2904, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2905, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2906, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2907, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2908, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2909, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2910, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2911, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2912, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2913, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2914, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2915, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2916, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2917, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2918, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2919, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2920, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2921, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2922, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2923, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2924, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2925, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2926, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2927, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2928, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2929, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2930, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2931, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2932, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2933, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2934, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2935, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2936, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2937, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2938, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2939, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2940, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2941, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2942, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2943, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2944, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2945, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2946, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2947, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (2948, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2949, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2950, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2951, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2952, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2953, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2954, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2955, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2956, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2957, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2958, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2959, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2960, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2961, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2962, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2963, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2964, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2965, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2966, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2967, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2968, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2969, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2970, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2971, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2972, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2973, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2974, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2975, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2976, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2977, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2978, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2979, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2980, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2981, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2982, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2983, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2984, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2985, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2986, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2987, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2988, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2989, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2990, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2991, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2992, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2993, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2994, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2995, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2996, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2997, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2998, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (2999, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3000, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3001, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3002, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3003, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3004, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3005, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3006, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3007, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3008, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3009, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3010, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3011, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3012, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3013, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3014, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3015, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3016, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3017, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3018, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3019, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3020, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3021, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3022, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3023, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3024, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3025, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3026, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3027, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3028, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3029, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3030, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3031, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3032, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3033, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3034, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3035, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3036, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3037, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3038, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3039, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3040, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3041, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3042, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3043, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3044, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3045, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3046, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3047, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3048, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3049, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3050, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3051, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3052, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3053, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3054, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3055, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3056, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3057, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3058, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3059, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3060, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3061, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3062, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3063, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3064, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3065, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3066, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3067, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3068, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3069, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3070, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3071, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3072, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3073, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3074, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3075, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3076, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3077, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3078, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3079, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3080, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3081, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3082, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3083, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3084, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3085, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3086, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3087, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3088, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3089, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3090, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3091, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3092, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3093, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3094, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3095, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3096, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3097, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3098, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3099, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3100, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3101, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3102, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3103, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3104, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3105, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3106, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3107, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3108, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3109, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3110, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3111, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3112, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3113, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3114, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3115, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3116, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3117, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3118, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3119, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3120, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3121, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3122, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3123, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3124, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3125, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3126, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3127, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3128, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3129, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3130, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3131, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3132, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3133, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3134, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3135, 'Angola', 32866268, 40195);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3136, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3137, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3138, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3139, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3140, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3141, 'Angola', 32866268, 75215);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3142, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3143, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3144, 'Angola', 32866268, 126551);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3145, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3146, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3147, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3148, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3149, 'Angola', 32866268, 196930);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3150, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3151, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3152, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3153, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3154, 'Angola', 32866268, 230181);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3155, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3156, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3157, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3158, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3159, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3160, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3161, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3162, 'Angola', 32866268, 375630);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3163, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3164, 'Angola', 32866268, 447704);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3165, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3166, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3167, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3168, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3169, 'Angola', 32866268, 492266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3170, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3171, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3172, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3173, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3174, 'Angola', 32866268, 513793);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3175, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3176, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3177, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3178, 'Angola', 32866268, 523580);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3179, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3180, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3181, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3182, 'Angola', 32866268, 544991);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3183, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3184, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3185, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3186, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3187, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3188, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3189, 'Angola', 32866268, 561688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3190, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3191, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3192, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3193, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3194, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3195, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3196, 'Angola', 32866268, 599828);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3197, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3198, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3199, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3200, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3201, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3202, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3203, 'Angola', 32866268, 634164);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3204, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3205, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3206, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3207, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3208, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3209, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3210, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3211, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3212, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3213, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3214, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3215, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3216, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3217, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3218, 'Angola', 32866268, 710113);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3219, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3220, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3221, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3222, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3223, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3224, 'Angola', 32866268, 722610);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3225, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3226, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3227, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3228, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3229, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3230, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3231, 'Angola', 32866268, 727297);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3232, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3233, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3234, 'Angola', 32866268, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3235, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3236, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3237, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3238, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3239, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3240, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3241, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3242, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3243, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3244, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3245, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3246, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3247, 'Anguilla', 15002, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3248, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3249, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3250, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3251, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3252, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3253, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3254, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3255, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3256, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3257, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3258, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3259, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3260, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3261, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3262, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3263, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3264, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3265, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3266, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3267, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3268, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3269, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3270, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3271, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3272, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3273, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3274, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3275, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3276, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3277, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3278, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3279, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3280, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3281, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3282, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3283, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3284, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3285, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3286, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3287, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3288, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3289, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3290, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3291, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3292, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3293, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3294, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3295, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3296, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3297, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3298, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3299, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3300, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3301, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3302, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3303, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3304, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3305, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3306, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3307, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3308, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3309, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3310, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3311, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3312, 'Anguilla', 15002, 783);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3313, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3314, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3315, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3316, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3317, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3318, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3319, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3320, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3321, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3322, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3323, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3324, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3325, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3326, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3327, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3328, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3329, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3330, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3331, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3332, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3333, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3334, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3335, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3336, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3337, 'Anguilla', 15002, 4424);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3338, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3339, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3340, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3341, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3342, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3343, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3344, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3345, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3346, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3347, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3348, 'Anguilla', 15002, 5439);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3349, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3350, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3351, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3352, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3353, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3354, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3355, 'Anguilla', 15002, 5513);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3356, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3357, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3358, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3359, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3360, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3361, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3362, 'Anguilla', 15002, 5818);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3363, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3364, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3365, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3366, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3367, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3368, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3369, 'Anguilla', 15002, 6015);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3370, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3371, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3372, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3373, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3374, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3375, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3376, 'Anguilla', 15002, 6525);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3377, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3378, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3379, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3380, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3381, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3382, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3383, 'Anguilla', 15002, 7160);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3384, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3385, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3386, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3387, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3388, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3389, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3390, 'Anguilla', 15002, 7630);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3391, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3392, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3393, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3394, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3395, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3396, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3397, 'Anguilla', 15002, 8445);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3398, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3399, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3400, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3401, 'Anguilla', 15002, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3402, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3403, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3404, 'Anguilla', 15002, 8603);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3405, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3406, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3407, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3408, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3409, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3410, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3411, 'Anguilla', 15002, 8765);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3412, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3413, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3414, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3415, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3416, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3417, 'Anguilla', 15002, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3418, 'Anguilla', 15002, 8965);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3419, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3420, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3421, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3422, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3423, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3424, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3425, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3426, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3427, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3428, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3429, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3430, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3431, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3432, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3433, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3434, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3435, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3436, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3437, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3438, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3439, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3440, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3441, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3442, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3443, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3444, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3445, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3446, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3447, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3448, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3449, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3450, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3451, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3452, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3453, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3454, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3455, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3456, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3457, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3458, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3459, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3460, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3461, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3462, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3463, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3464, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3465, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3466, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3467, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3468, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3469, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3470, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3471, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3472, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3473, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3474, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3475, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3476, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3477, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3478, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3479, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3480, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3481, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3482, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3483, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3484, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3485, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3486, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3487, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3488, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3489, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3490, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3491, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3492, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3493, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3494, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3495, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3496, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3497, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3498, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3499, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3500, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3501, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3502, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3503, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3504, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3505, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3506, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3507, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3508, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3509, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3510, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3511, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3512, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3513, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3514, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3515, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3516, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3517, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3518, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3519, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3520, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3521, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3522, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3523, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3524, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3525, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3526, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3527, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3528, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3529, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3530, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3531, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3532, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3533, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3534, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3535, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3536, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3537, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3538, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3539, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3540, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3541, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3542, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3543, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3544, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3545, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3546, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3547, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3548, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3549, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3550, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3551, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3552, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3553, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3554, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3555, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3556, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3557, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3558, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3559, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3560, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3561, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3562, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3563, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3564, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3565, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3566, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3567, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3568, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3569, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3570, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3571, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3572, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3573, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3574, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3575, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3576, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3577, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3578, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3579, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3580, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3581, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3582, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3583, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3584, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3585, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3586, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3587, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3588, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3589, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3590, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3591, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3592, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3593, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3594, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3595, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3596, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3597, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3598, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3599, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3600, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3601, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3602, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3603, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3604, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3605, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3606, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3607, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3608, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3609, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3610, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3611, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3612, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3613, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3614, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3615, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3616, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3617, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3618, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3619, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3620, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3621, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3622, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3623, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3624, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3625, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3626, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3627, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3628, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3629, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3630, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3631, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3632, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3633, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3634, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3635, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3636, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3637, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3638, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3639, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3640, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3641, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3642, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3643, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3644, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3645, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3646, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3647, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3648, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3649, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3650, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3651, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3652, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3653, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3654, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3655, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3656, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3657, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3658, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3659, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3660, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3661, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3662, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3663, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3664, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3665, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3666, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3667, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3668, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3669, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3670, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3671, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3672, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3673, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3674, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3675, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3676, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3677, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3678, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3679, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3680, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3681, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3682, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3683, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3684, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3685, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3686, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3687, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3688, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3689, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3690, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3691, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3692, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3693, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3694, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3695, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3696, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3697, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3698, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3699, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3700, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3701, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3702, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3703, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3704, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3705, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3706, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3707, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3708, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3709, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3710, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3711, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3712, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3713, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3714, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3715, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3716, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3717, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3718, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3719, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3720, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3721, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3722, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3723, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3724, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3725, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3726, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3727, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3728, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3729, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3730, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3731, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3732, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3733, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3734, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3735, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3736, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3737, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3738, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3739, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3740, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3741, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3742, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3743, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3744, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3745, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3746, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3747, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3748, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3749, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3750, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3751, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3752, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3753, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3754, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3755, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3756, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3757, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3758, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3759, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3760, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3761, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3762, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3763, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3764, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3765, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3766, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3767, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3768, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3769, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3770, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3771, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3772, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3773, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3774, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3775, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3776, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3777, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3778, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3779, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3780, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3781, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3782, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3783, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3784, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3785, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3786, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3787, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3788, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3789, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3790, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3791, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3792, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3793, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3794, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3795, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3796, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3797, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3798, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3799, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3800, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3801, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3802, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3803, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3804, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3805, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3806, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3807, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3808, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3809, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3810, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3811, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3812, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3813, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3814, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3815, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3816, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3817, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3818, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3819, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3820, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3821, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3822, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3823, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3824, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3825, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3826, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3827, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3828, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3829, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3830, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3831, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3832, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3833, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3834, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3835, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3836, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3837, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3838, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3839, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3840, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3841, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3842, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3843, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3844, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3845, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3846, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3847, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3848, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3849, 'Antigua and Barbuda', 97928, 2581);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3850, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3851, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3852, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3853, 'Antigua and Barbuda', 97928, 7050);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3854, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3855, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3856, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3857, 'Antigua and Barbuda', 97928, 9250);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3858, 'Antigua and Barbuda', 97928, 11354);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3859, 'Antigua and Barbuda', 97928, 12915);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3860, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3861, 'Antigua and Barbuda', 97928, 15133);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3862, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3863, 'Antigua and Barbuda', 97928, 16866);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3864, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3865, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3866, 'Antigua and Barbuda', 97928, 18179);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3867, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3868, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3869, 'Antigua and Barbuda', 97928, 21494);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3870, 'Antigua and Barbuda', 97928, 22896);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3871, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3872, 'Antigua and Barbuda', 97928, 23430);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3873, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3874, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3875, 'Antigua and Barbuda', 97928, 23844);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3876, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3877, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3878, 'Antigua and Barbuda', 97928, 24325);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3879, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3880, 'Antigua and Barbuda', 97928, 26593);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3881, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3882, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3883, 'Antigua and Barbuda', 97928, 27041);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3884, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3885, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3886, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3887, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3888, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3889, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3890, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3891, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3892, 'Antigua and Barbuda', 97928, 27563);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3893, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3894, 'Antigua and Barbuda', 97928, 27872);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3895, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3896, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3897, 'Antigua and Barbuda', 97928, 28004);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3898, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3899, 'Antigua and Barbuda', 97928, 28074);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3900, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3901, 'Antigua and Barbuda', 97928, 28251);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3902, 'Antigua and Barbuda', 97928, 28429);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3903, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3904, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3905, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3906, 'Antigua and Barbuda', 97928, 28611);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3907, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3908, 'Antigua and Barbuda', 97928, 28665);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3909, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3910, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3911, 'Antigua and Barbuda', 97928, 28808);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3912, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3913, 'Antigua and Barbuda', 97928, 28960);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3914, 'Antigua and Barbuda', 97928, 29024);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3915, 'Antigua and Barbuda', 97928, 30292);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3916, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3917, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3918, 'Antigua and Barbuda', 97928, 30430);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (3919, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3920, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3921, 'Antigua and Barbuda', 97928, 30648);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3922, 'Antigua and Barbuda', 97928, 30704);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3923, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3924, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3925, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3926, 'Antigua and Barbuda', 97928, 30928);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3927, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3928, 'Antigua and Barbuda', 97928, 31056);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3929, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3930, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3931, 'Antigua and Barbuda', 97928, 31298);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3932, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3933, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3934, 'Antigua and Barbuda', 97928, 31414);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3935, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3936, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3937, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3938, 'Antigua and Barbuda', 97928, 32026);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3939, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3940, 'Antigua and Barbuda', 97928, 32248);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3941, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3942, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3943, 'Antigua and Barbuda', 97928, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3944, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3945, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3946, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3947, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3948, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3949, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3950, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3951, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3952, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3953, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3954, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3955, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3956, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3957, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3958, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3959, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3960, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3961, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3962, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3963, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3964, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3965, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3966, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3967, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3968, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3969, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3970, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3971, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3972, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3973, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3974, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3975, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3976, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3977, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3978, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3979, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3980, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3981, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3982, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3983, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3984, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3985, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3986, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3987, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3988, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3989, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3990, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3991, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3992, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3993, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3994, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3995, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3996, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3997, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3998, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (3999, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4000, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4001, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4002, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4003, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4004, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4005, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4006, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4007, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4008, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4009, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4010, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4011, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4012, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4013, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4014, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4015, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4016, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4017, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4018, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4019, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4020, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4021, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4022, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4023, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4024, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4025, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4026, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4027, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4028, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4029, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4030, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4031, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4032, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4033, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4034, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4035, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4036, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4037, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4038, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4039, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4040, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4041, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4042, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4043, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4044, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4045, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4046, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4047, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4048, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4049, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4050, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4051, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4052, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4053, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4054, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4055, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4056, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4057, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4058, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4059, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4060, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4061, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4062, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4063, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4064, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4065, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4066, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4067, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4068, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4069, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4070, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4071, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4072, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4073, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4074, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4075, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4076, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4077, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4078, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4079, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4080, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4081, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4082, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4083, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4084, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4085, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4086, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4087, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4088, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4089, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4090, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4091, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4092, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4093, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4094, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4095, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4096, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4097, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4098, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4099, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4100, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4101, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4102, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4103, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4104, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4105, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4106, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4107, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4108, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4109, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4110, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4111, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4112, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4113, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4114, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4115, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4116, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4117, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4118, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4119, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4120, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4121, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4122, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4123, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4124, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4125, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4126, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4127, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4128, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4129, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4130, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4131, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4132, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4133, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4134, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4135, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4136, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4137, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4138, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4139, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4140, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4141, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4142, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4143, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4144, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4145, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4146, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4147, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4148, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4149, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4150, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4151, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4152, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4153, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4154, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4155, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4156, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4157, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4158, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4159, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4160, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4161, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4162, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4163, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4164, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4165, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4166, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4167, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4168, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4169, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4170, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4171, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4172, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4173, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4174, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4175, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4176, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4177, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4178, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4179, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4180, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4181, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4182, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4183, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4184, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4185, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4186, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4187, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4188, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4189, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4190, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4191, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4192, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4193, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4194, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4195, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4196, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4197, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4198, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4199, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4200, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4201, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4202, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4203, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4204, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4205, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4206, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4207, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4208, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4209, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4210, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4211, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4212, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4213, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4214, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4215, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4216, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4217, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4218, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4219, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4220, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4221, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4222, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4223, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4224, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4225, 'Argentina', 45195777, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4226, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4227, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4228, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4229, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4230, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4231, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4232, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4233, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4234, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4235, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4236, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4237, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4238, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4239, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4240, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4241, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4242, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4243, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4244, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4245, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4246, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4247, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4248, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4249, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4250, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4251, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4252, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4253, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4254, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4255, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4256, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4257, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4258, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4259, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4260, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4261, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4262, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4263, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4264, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4265, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4266, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4267, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4268, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4269, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4270, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4271, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4272, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4273, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4274, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4275, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4276, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4277, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4278, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4279, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4280, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4281, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4282, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4283, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4284, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4285, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4286, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4287, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4288, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4289, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4290, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4291, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4292, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4293, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4294, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4295, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4296, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4297, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4298, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4299, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4300, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4301, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4302, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4303, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4304, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4305, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4306, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4307, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4308, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4309, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4310, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4311, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4312, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4313, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4314, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4315, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4316, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4317, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4318, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4319, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4320, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4321, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4322, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4323, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4324, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4325, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4326, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4327, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4328, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4329, 'Argentina', 45195777, 4394);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4330, 'Argentina', 45195777, 16352);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4331, 'Argentina', 45195777, 25146);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4332, 'Argentina', 45195777, 29188);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4333, 'Argentina', 45195777, 31987);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4334, 'Argentina', 45195777, 32264);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4335, 'Argentina', 45195777, 38911);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4336, 'Argentina', 45195777, 45710);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4337, 'Argentina', 45195777, 51451);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4338, 'Argentina', 45195777, 65583);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4339, 'Argentina', 45195777, 85361);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4340, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4341, 'Argentina', 45195777, 94274);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4342, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4343, 'Argentina', 45195777, 112366);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4344, 'Argentina', 45195777, 146301);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4345, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4346, 'Argentina', 45195777, 163882);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4347, 'Argentina', 45195777, 181836);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4348, 'Argentina', 45195777, 189264);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4349, 'Argentina', 45195777, 190203);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4350, 'Argentina', 45195777, 197531);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4351, 'Argentina', 45195777, 210279);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4352, 'Argentina', 45195777, 223609);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4353, 'Argentina', 45195777, 234616);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4354, 'Argentina', 45195777, 237483);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4355, 'Argentina', 45195777, 237610);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4356, 'Argentina', 45195777, 237916);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4357, 'Argentina', 45195777, 238320);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4358, 'Argentina', 45195777, 243184);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4359, 'Argentina', 45195777, 253696);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4360, 'Argentina', 45195777, 261534);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4361, 'Argentina', 45195777, 263338);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4362, 'Argentina', 45195777, 263412);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4363, 'Argentina', 45195777, 264926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4364, 'Argentina', 45195777, 267061);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4365, 'Argentina', 45195777, 271001);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4366, 'Argentina', 45195777, 283280);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4367, 'Argentina', 45195777, 290425);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4368, 'Argentina', 45195777, 293432);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4369, 'Argentina', 45195777, 293957);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4370, 'Argentina', 45195777, 302662);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4371, 'Argentina', 45195777, 306376);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4372, 'Argentina', 45195777, 310766);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4373, 'Argentina', 45195777, 327092);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4374, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4375, 'Argentina', 45195777, 343204);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4376, 'Argentina', 45195777, 343701);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4377, 'Argentina', 45195777, 347170);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4378, 'Argentina', 45195777, 349454);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4379, 'Argentina', 45195777, 354519);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4380, 'Argentina', 45195777, 378662);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4381, 'Argentina', 45195777, 418625);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4382, 'Argentina', 45195777, 448733);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4383, 'Argentina', 45195777, 451311);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4384, 'Argentina', 45195777, 476833);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4385, 'Argentina', 45195777, 497987);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4386, 'Argentina', 45195777, 515904);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4387, 'Argentina', 45195777, 556505);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4388, 'Argentina', 45195777, 591438);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4389, 'Argentina', 45195777, 605348);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4390, 'Argentina', 45195777, 607390);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4391, 'Argentina', 45195777, 621981);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4392, 'Argentina', 45195777, 634479);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4393, 'Argentina', 45195777, 635579);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4394, 'Argentina', 45195777, 650071);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4395, 'Argentina', 45195777, 661528);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4396, 'Argentina', 45195777, 665440);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4397, 'Argentina', 45195777, 665886);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4398, 'Argentina', 45195777, 670936);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4399, 'Argentina', 45195777, 677394);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4400, 'Argentina', 45195777, 680590);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4401, 'Argentina', 45195777, 682868);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4402, 'Argentina', 45195777, 683771);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4403, 'Argentina', 45195777, 684339);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4404, 'Argentina', 45195777, 684385);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4405, 'Argentina', 45195777, 692166);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4406, 'Argentina', 45195777, 701085);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4407, 'Argentina', 45195777, 707060);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4408, 'Argentina', 45195777, 711059);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4409, 'Argentina', 45195777, 722520);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4410, 'Argentina', 45195777, 727186);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4411, 'Argentina', 45195777, 728915);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4412, 'Argentina', 45195777, 735632);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4413, 'Argentina', 45195777, 758247);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4414, 'Argentina', 45195777, 771802);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4415, 'Argentina', 45195777, 787412);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4416, 'Argentina', 45195777, 794878);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4417, 'Argentina', 45195777, 799494);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4418, 'Argentina', 45195777, 800329);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4419, 'Argentina', 45195777, 812730);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4420, 'Argentina', 45195777, 827961);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4421, 'Argentina', 45195777, 842206);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4422, 'Argentina', 45195777, 852040);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4423, 'Argentina', 45195777, 867444);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4424, 'Argentina', 45195777, 871100);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4425, 'Argentina', 45195777, 872745);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4426, 'Argentina', 45195777, 879078);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4427, 'Argentina', 45195777, 885247);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4428, 'Argentina', 45195777, 908441);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4429, 'Argentina', 45195777, 938563);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4430, 'Argentina', 45195777, 968478);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4431, 'Argentina', 45195777, 972410);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4432, 'Argentina', 45195777, 988021);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4433, 'Argentina', 45195777, 1047718);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4434, 'Argentina', 45195777, 1130337);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4435, 'Argentina', 45195777, 1191546);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4436, 'Argentina', 45195777, 1265305);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4437, 'Argentina', 45195777, 1341095);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4438, 'Argentina', 45195777, 1393720);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4439, 'Argentina', 45195777, 1404487);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4440, 'Argentina', 45195777, 1446219);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4441, 'Argentina', 45195777, 1517012);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4442, 'Argentina', 45195777, 1629336);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4443, 'Argentina', 45195777, 1750802);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4444, 'Argentina', 45195777, 1870091);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4445, 'Argentina', 45195777, 1904220);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4446, 'Argentina', 45195777, 1952121);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4447, 'Argentina', 45195777, 2051760);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4448, 'Argentina', 45195777, 2103964);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4449, 'Argentina', 45195777, 2152184);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4450, 'Argentina', 45195777, 2227709);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4451, 'Argentina', 45195777, 2319715);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4452, 'Argentina', 45195777, 2365579);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4453, 'Argentina', 45195777, 2414237);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4454, 'Argentina', 45195777, 2434836);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4455, 'Argentina', 45195777, 2452575);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4456, 'Argentina', 45195777, 2515209);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4457, 'Argentina', 45195777, 2592133);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4458, 'Argentina', 45195777, 2697814);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4459, 'Argentina', 45195777, 2758683);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4460, 'Argentina', 45195777, 2780891);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4461, 'Argentina', 45195777, 2830075);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4462, 'Argentina', 45195777, 2876639);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4463, 'Argentina', 45195777, 2920542);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4464, 'Argentina', 45195777, 2956708);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4465, 'Argentina', 45195777, 2997093);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4466, 'Argentina', 45195777, 3021128);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4467, 'Argentina', 45195777, 3045696);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4468, 'Argentina', 45195777, 3085996);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4469, 'Argentina', 45195777, 3124085);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4470, 'Argentina', 45195777, 3150527);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4471, 'Argentina', 45195777, 3174781);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4472, 'Argentina', 45195777, 3223051);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4473, 'Argentina', 45195777, 3295422);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4474, 'Argentina', 45195777, 3338739);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4475, 'Argentina', 45195777, 3420581);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4476, 'Argentina', 45195777, 3486893);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4477, 'Argentina', 45195777, 3563177);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4478, 'Argentina', 45195777, 3623619);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4479, 'Argentina', 45195777, 3664668);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4480, 'Argentina', 45195777, 3687740);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4481, 'Argentina', 45195777, 3694089);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4482, 'Argentina', 45195777, 3719982);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4483, 'Argentina', 45195777, 3759874);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4484, 'Argentina', 45195777, 3792719);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4485, 'Argentina', 45195777, 3830991);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4486, 'Argentina', 45195777, 3881982);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4487, 'Argentina', 45195777, 3917836);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4488, 'Argentina', 45195777, 3958086);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4489, 'Argentina', 45195777, 3992864);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4490, 'Argentina', 45195777, 4038719);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4491, 'Argentina', 45195777, 4085753);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4492, 'Argentina', 45195777, 4203409);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4493, 'Argentina', 45195777, 4301462);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4494, 'Argentina', 45195777, 4383328);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4495, 'Argentina', 45195777, 4432185);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4496, 'Argentina', 45195777, 4566587);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4497, 'Argentina', 45195777, 4739979);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4498, 'Argentina', 45195777, 4852930);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4499, 'Argentina', 45195777, 4885898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4500, 'Argentina', 45195777, 5010394);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4501, 'Argentina', 45195777, 5022294);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4502, 'Argentina', 45195777, 5039549);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4503, 'Argentina', 45195777, 5075684);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4504, 'Argentina', 45195777, 5113342);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4505, 'Argentina', 45195777, 5148894);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4506, 'Argentina', 45195777, 5194668);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4507, 'Argentina', 45195777, 5289658);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4508, 'Argentina', 45195777, 5360619);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4509, 'Argentina', 45195777, 5400397);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4510, 'Argentina', 45195777, 5483161);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4511, 'Argentina', 45195777, 5690869);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4512, 'Argentina', 45195777, 5797847);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4513, 'Argentina', 45195777, 5865659);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4514, 'Argentina', 45195777, 5944919);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4515, 'Argentina', 45195777, 6008542);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4516, 'Argentina', 45195777, 6022610);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4517, 'Argentina', 45195777, 6133940);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4518, 'Argentina', 45195777, 6352840);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4519, 'Argentina', 45195777, 6532982);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4520, 'Argentina', 45195777, 6716433);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4521, 'Argentina', 45195777, 6911893);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4522, 'Argentina', 45195777, 7056120);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4523, 'Argentina', 45195777, 7157189);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4524, 'Argentina', 45195777, 7358204);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4525, 'Argentina', 45195777, 7689258);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4526, 'Argentina', 45195777, 7929526);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4527, 'Argentina', 45195777, 8183511);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4528, 'Argentina', 45195777, 8401313);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4529, 'Argentina', 45195777, 8548692);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4530, 'Argentina', 45195777, 8723337);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4531, 'Argentina', 45195777, 8954463);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4532, 'Argentina', 45195777, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4533, 'Argentina', 45195777, 9348431);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4534, 'Argentina', 45195777, 9553439);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4535, 'Argentina', 45195777, 9821987);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4536, 'Argentina', 45195777, 10032222);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4537, 'Argentina', 45195777, 10165290);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4538, 'Argentina', 45195777, 10257176);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4539, 'Argentina', 45195777, 10449719);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4540, 'Argentina', 45195777, 10786254);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4541, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4542, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4543, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4544, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4545, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4546, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4547, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4548, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4549, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4550, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4551, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4552, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4553, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4554, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4555, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4556, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4557, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4558, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4559, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4560, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4561, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4562, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4563, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4564, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4565, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4566, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4567, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4568, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4569, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4570, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4571, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4572, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4573, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4574, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4575, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4576, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4577, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4578, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4579, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4580, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4581, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4582, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4583, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4584, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4585, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4586, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4587, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4588, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4589, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4590, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4591, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4592, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4593, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4594, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4595, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4596, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4597, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4598, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4599, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4600, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4601, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4602, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4603, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4604, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4605, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4606, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4607, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4608, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4609, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4610, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4611, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4612, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4613, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4614, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4615, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4616, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4617, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4618, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4619, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4620, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4621, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4622, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4623, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4624, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4625, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4626, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4627, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4628, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4629, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4630, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4631, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4632, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4633, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4634, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4635, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4636, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4637, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4638, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4639, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4640, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4641, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4642, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4643, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4644, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4645, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4646, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4647, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4648, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4649, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4650, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4651, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4652, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4653, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4654, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4655, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4656, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4657, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4658, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4659, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4660, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4661, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4662, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4663, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4664, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4665, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4666, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4667, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4668, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4669, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4670, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4671, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4672, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4673, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4674, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4675, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4676, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4677, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4678, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4679, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4680, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4681, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4682, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4683, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4684, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4685, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4686, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4687, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4688, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4689, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4690, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4691, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4692, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4693, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4694, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4695, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4696, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4697, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4698, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4699, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4700, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4701, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4702, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4703, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4704, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4705, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4706, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4707, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4708, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4709, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4710, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4711, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4712, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4713, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4714, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4715, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4716, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4717, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4718, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4719, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4720, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4721, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4722, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4723, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4724, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4725, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4726, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4727, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4728, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4729, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4730, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4731, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4732, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4733, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4734, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4735, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4736, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4737, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4738, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4739, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4740, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4741, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4742, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4743, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4744, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4745, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4746, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4747, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4748, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4749, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4750, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4751, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4752, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4753, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4754, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4755, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4756, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4757, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4758, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4759, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4760, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4761, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4762, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4763, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4764, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4765, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4766, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4767, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4768, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4769, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4770, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4771, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4772, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4773, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4774, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4775, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4776, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4777, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4778, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4779, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4780, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4781, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4782, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4783, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4784, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4785, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4786, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4787, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4788, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4789, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4790, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4791, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4792, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4793, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4794, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4795, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4796, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4797, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4798, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4799, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4800, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4801, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4802, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4803, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4804, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4805, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4806, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4807, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4808, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4809, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4810, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4811, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4812, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4813, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4814, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4815, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4816, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4817, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4818, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4819, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4820, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4821, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4822, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4823, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4824, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4825, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4826, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4827, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4828, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4829, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4830, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4831, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4832, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4833, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4834, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4835, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4836, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4837, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4838, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4839, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4840, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4841, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4842, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4843, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4844, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4845, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4846, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4847, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4848, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4849, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4850, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4851, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4852, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4853, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4854, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4855, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4856, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4857, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4858, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4859, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4860, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4861, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4862, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4863, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4864, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4865, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4866, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4867, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4868, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4869, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4870, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4871, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4872, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4873, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4874, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4875, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4876, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4877, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4878, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4879, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4880, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4881, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4882, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4883, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4884, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4885, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4886, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4887, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4888, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4889, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4890, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4891, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4892, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4893, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4894, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4895, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4896, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4897, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4898, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4899, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4900, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4901, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4902, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4903, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4904, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4905, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (4906, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4907, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4908, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4909, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4910, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4911, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4912, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4913, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4914, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4915, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4916, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4917, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4918, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4919, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4920, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4921, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4922, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4923, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4924, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4925, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4926, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4927, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4928, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4929, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4930, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4931, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4932, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4933, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4934, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4935, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4936, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4937, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4938, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4939, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4940, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4941, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4942, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4943, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4944, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4945, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4946, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4947, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4948, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4949, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4950, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4951, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4952, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4953, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4954, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4955, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4956, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4957, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4958, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4959, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4960, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4961, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4962, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4963, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4964, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4965, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4966, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4967, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4968, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4969, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4970, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4971, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4972, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4973, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4974, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4975, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4976, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4977, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4978, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4979, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4980, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4981, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4982, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4983, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4984, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4985, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4986, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4987, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4988, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4989, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4990, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4991, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4992, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4993, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4994, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4995, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4996, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4997, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4998, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (4999, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5000, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5001, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5002, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5003, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5004, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5005, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5006, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5007, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5008, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5009, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5010, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5011, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5012, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5013, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5014, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5015, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5016, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5017, 'Armenia', 2963234, 11784);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5018, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5019, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5020, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5021, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5022, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5023, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5024, 'Armenia', 2963234, 16196);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5025, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5026, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5027, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5028, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5029, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5030, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5031, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5032, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5033, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5034, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5035, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5036, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5037, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5038, 'Armenia', 2963234, 30658);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5039, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5040, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5041, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5042, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5043, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5044, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5045, 'Armenia', 2963234, 36520);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5046, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5047, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5048, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5049, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5050, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5051, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5052, 'Armenia', 2963234, 43855);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5053, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5054, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5055, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5056, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5057, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5058, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5059, 'Armenia', 2963234, 51605);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5060, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5061, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5062, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5063, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5064, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5065, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5066, 'Armenia', 2963234, 62373);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5067, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5068, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5069, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5070, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5071, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5072, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5073, 'Armenia', 2963234, 75663);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5074, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5075, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5076, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5077, 'Armenia', 2963234, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5078, 'Aruba', 106766, 10166);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5079, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5080, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5081, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5082, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5083, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5084, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5085, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5086, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5087, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5088, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5089, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5090, 'Aruba', 106766, 11899);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5091, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5092, 'Aruba', 106766, 11934);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5093, 'Aruba', 106766, 12025);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5094, 'Aruba', 106766, 12142);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5095, 'Aruba', 106766, 12565);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5096, 'Aruba', 106766, 12994);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5097, 'Aruba', 106766, 13812);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5098, 'Aruba', 106766, 13814);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5099, 'Aruba', 106766, 14912);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5100, 'Aruba', 106766, 16434);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5101, 'Aruba', 106766, 17921);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5102, 'Aruba', 106766, 19191);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5103, 'Aruba', 106766, 19889);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5104, 'Aruba', 106766, 19928);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5105, 'Aruba', 106766, 19942);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5106, 'Aruba', 106766, 20116);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5107, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5108, 'Aruba', 106766, 20855);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5109, 'Aruba', 106766, 21751);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5110, 'Aruba', 106766, 22559);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5111, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5112, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5113, 'Aruba', 106766, 23114);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5114, 'Aruba', 106766, 23804);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5115, 'Aruba', 106766, 24143);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5116, 'Aruba', 106766, 24182);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5117, 'Aruba', 106766, 24633);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5118, 'Aruba', 106766, 24955);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5119, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5120, 'Aruba', 106766, 25607);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5121, 'Aruba', 106766, 26589);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5122, 'Aruba', 106766, 27645);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5123, 'Aruba', 106766, 28509);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5124, 'Aruba', 106766, 30222);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5125, 'Aruba', 106766, 31121);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5126, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5127, 'Aruba', 106766, 33070);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5128, 'Aruba', 106766, 35390);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5129, 'Aruba', 106766, 37324);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5130, 'Aruba', 106766, 38968);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5131, 'Aruba', 106766, 40662);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5132, 'Aruba', 106766, 43390);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5133, 'Aruba', 106766, 47229);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5134, 'Aruba', 106766, 48208);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5135, 'Aruba', 106766, 49234);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5136, 'Aruba', 106766, 49421);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5137, 'Aruba', 106766, 49818);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5138, 'Aruba', 106766, 50400);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5139, 'Aruba', 106766, 50748);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5140, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5141, 'Aruba', 106766, 51041);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5142, 'Aruba', 106766, 51355);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5143, 'Aruba', 106766, 51688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5144, 'Aruba', 106766, 52559);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5145, 'Aruba', 106766, 52567);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5146, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5147, 'Aruba', 106766, 52568);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5148, 'Aruba', 106766, 52852);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5149, 'Aruba', 106766, 53223);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5150, 'Aruba', 106766, 53551);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5151, 'Aruba', 106766, 53851);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5152, 'Aruba', 106766, 54156);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5153, 'Aruba', 106766, 55425);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5154, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5155, 'Aruba', 106766, 55689);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5156, 'Aruba', 106766, 55933);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5157, 'Aruba', 106766, 56214);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5158, 'Aruba', 106766, 56501);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5159, 'Aruba', 106766, 56797);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5160, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5161, 'Aruba', 106766, 57025);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5162, 'Aruba', 106766, 57322);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5163, 'Aruba', 106766, 57328);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5164, 'Aruba', 106766, 57730);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5165, 'Aruba', 106766, 58011);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5166, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5167, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5168, 'Aruba', 106766, 58012);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5169, 'Aruba', 106766, 58418);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5170, 'Aruba', 106766, 58777);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5171, 'Aruba', 106766, 59429);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5172, 'Aruba', 106766, 59526);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5173, 'Aruba', 106766, 59897);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5174, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5175, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5176, 'Aruba', 106766, 60334);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5177, 'Aruba', 106766, 60684);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5178, 'Aruba', 106766, 60982);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5179, 'Aruba', 106766, 61266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5180, 'Aruba', 106766, 61639);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5181, 'Aruba', 106766, 61756);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5182, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5183, 'Aruba', 106766, 61991);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5184, 'Aruba', 106766, 62176);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5185, 'Aruba', 106766, 62425);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5186, 'Aruba', 106766, 62702);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5187, 'Aruba', 106766, 62715);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5188, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5189, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5190, 'Aruba', 106766, 63101);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5191, 'Aruba', 106766, 63106);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5192, 'Aruba', 106766, 63333);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5193, 'Aruba', 106766, 63556);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5194, 'Aruba', 106766, 63596);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5195, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5196, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5197, 'Aruba', 106766, 63837);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5198, 'Aruba', 106766, 64056);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5199, 'Aruba', 106766, 64309);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5200, 'Aruba', 106766, 64547);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5201, 'Aruba', 106766, 64811);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5202, 'Aruba', 106766, 65716);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5203, 'Aruba', 106766, 65718);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5204, 'Aruba', 106766, 65875);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5205, 'Aruba', 106766, 66200);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5206, 'Aruba', 106766, 66264);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5207, 'Aruba', 106766, 66395);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5208, 'Aruba', 106766, 66575);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5209, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5210, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5211, 'Aruba', 106766, 66762);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5212, 'Aruba', 106766, 66910);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5213, 'Aruba', 106766, 67163);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5214, 'Aruba', 106766, 67273);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5215, 'Aruba', 106766, 67522);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5216, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5217, 'Aruba', 106766, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5218, 'Aruba', 106766, 67762);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5219, 'Aruba', 106766, 68051);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5220, 'Aruba', 106766, 68242);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5221, 'Aruba', 106766, 68409);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5222, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5223, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5224, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5225, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5226, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5227, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5228, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5229, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5230, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5231, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5232, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5233, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5234, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5235, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5236, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5237, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5238, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5239, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5240, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5241, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5242, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5243, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5244, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5245, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5246, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5247, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5248, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5249, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5250, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5251, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5252, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5253, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5254, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5255, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5256, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5257, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5258, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5259, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5260, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5261, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5262, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5263, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5264, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5265, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5266, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5267, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5268, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5269, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5270, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5271, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5272, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5273, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5274, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5275, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5276, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5277, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5278, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5279, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5280, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5281, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5282, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5283, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5284, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5285, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5286, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5287, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5288, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5289, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5290, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5291, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5292, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5293, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5294, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5295, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5296, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5297, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5298, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5299, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5300, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5301, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5302, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5303, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5304, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5305, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5306, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5307, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5308, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5309, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5310, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5311, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5312, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5313, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5314, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5315, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5316, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5317, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5318, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5319, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5320, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5321, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5322, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5323, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5324, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5325, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5326, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5327, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5328, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5329, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5330, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5331, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5332, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5333, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5334, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5335, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5336, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5337, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5338, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5339, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5340, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5341, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5342, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5343, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5344, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5345, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5346, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5347, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5348, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5349, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5350, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5351, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5352, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5353, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5354, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5355, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5356, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5357, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5358, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5359, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5360, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5361, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5362, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5363, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5364, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5365, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5366, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5367, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5368, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5369, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5370, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5371, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5372, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5373, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5374, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5375, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5376, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5377, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5378, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5379, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5380, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5381, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5382, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5383, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5384, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5385, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5386, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5387, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5388, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5389, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5390, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5391, 'Asia', -2147483648, 0);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5392, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5393, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5394, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5395, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5396, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5397, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5398, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5399, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5400, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5401, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5402, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5403, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5404, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5405, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5406, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5407, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5408, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5409, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5410, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5411, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5412, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5413, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5414, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5415, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5416, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5417, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5418, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5419, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5420, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5421, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5422, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5423, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5424, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5425, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5426, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5427, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5428, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5429, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5430, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5431, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5432, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5433, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5434, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5435, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5436, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5437, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5438, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5439, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5440, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5441, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5442, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5443, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5444, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5445, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5446, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5447, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5448, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5449, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5450, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5451, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5452, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5453, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5454, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5455, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5456, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5457, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5458, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5459, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5460, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5461, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5462, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5463, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5464, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5465, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5466, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5467, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5468, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5469, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5470, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5471, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5472, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5473, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5474, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5475, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5476, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5477, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5478, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5479, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5480, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5481, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5482, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5483, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5484, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5485, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5486, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5487, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5488, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5489, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5490, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5491, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5492, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5493, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5494, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5495, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5496, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5497, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5498, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5499, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5500, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5501, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5502, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5503, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5504, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5505, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5506, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5507, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5508, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5509, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5510, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5511, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5512, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5513, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5514, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5515, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5516, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5517, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5518, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5519, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5520, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5521, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5522, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5523, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5524, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5525, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5526, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5527, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5528, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5529, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5530, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5531, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5532, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5533, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5534, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5535, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5536, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5537, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5538, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5539, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5540, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5541, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5542, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5543, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5544, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5545, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5546, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5547, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5548, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5549, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5550, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5551, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5552, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5553, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5554, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5555, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5556, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5557, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5558, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5559, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5560, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5561, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5562, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5563, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5564, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5565, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5566, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5567, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5568, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5569, 'Asia', -2147483648, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5570, 'Asia', -2147483648, 1);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5571, 'Asia', -2147483648, 1);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5572, 'Asia', -2147483648, 2);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5573, 'Asia', -2147483648, 7);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5574, 'Asia', -2147483648, 10);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5575, 'Asia', -2147483648, 32);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5576, 'Asia', -2147483648, 256020);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5577, 'Asia', -2147483648, 275259);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5578, 'Asia', -2147483648, 310899);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5579, 'Asia', -2147483648, 367722);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5580, 'Asia', -2147483648, 436485);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5581, 'Asia', -2147483648, 472371);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5582, 'Asia', -2147483648, 498349);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5583, 'Asia', -2147483648, 583493);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5584, 'Asia', -2147483648, 705040);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5585, 'Asia', -2147483648, 843889);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5586, 'Asia', -2147483648, 988823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5587, 'Asia', -2147483648, 1152831);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5588, 'Asia', -2147483648, 1223768);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5589, 'Asia', -2147483648, 1278377);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5590, 'Asia', -2147483648, 1420832);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5591, 'Asia', -2147483648, 1561874);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5592, 'Asia', -2147483648, 1689575);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5593, 'Asia', -2147483648, 1815206);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5594, 'Asia', -2147483648, 1950989);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5595, 'Asia', -2147483648, 2021439);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5596, 'Asia', -2147483648, 2073631);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5597, 'Asia', -2147483648, 2134719);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5598, 'Asia', -2147483648, 2182794);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5599, 'Asia', -2147483648, 2236295);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5600, 'Asia', -2147483648, 2307201);

INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5601, 'Asia', -2147483648, 2390062);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5602, 'Asia', -2147483648, 2442899);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5603, 'Asia', -2147483648, 2481523);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5604, 'Asia', -2147483648, 2551996);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5605, 'Asia', -2147483648, 2649342);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5606, 'Asia', -2147483648, 2766826);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5607, 'Asia', -2147483648, 2896599);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5608, 'Asia', -2147483648, 3034533);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5609, 'Asia', -2147483648, 3408484);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5610, 'Asia', -2147483648, 3636751);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5611, 'Asia', -2147483648, 3747774);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5612, 'Asia', -2147483648, 4093712);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5613, 'Asia', -2147483648, 4423538);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5614, 'Asia', -2147483648, 4784863);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5615, 'Asia', -2147483648, 5238640);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5616, 'Asia', -2147483648, 5678247);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5617, 'Asia', -2147483648, 5986395);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5618, 'Asia', -2147483648, 6174889);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5619, 'Asia', -2147483648, 6485158);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5620, 'Asia', -2147483648, 8840821);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5621, 'Asia', -2147483648, 9186019);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5622, 'Asia', -2147483648, 9788266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5623, 'Asia', -2147483648, 10331942);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5624, 'Asia', -2147483648, 10825844);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5625, 'Asia', -2147483648, 10918652);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5626, 'Asia', -2147483648, 11340926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5627, 'Asia', -2147483648, 11732804);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5628, 'Asia', -2147483648, 12138384);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5629, 'Asia', -2147483648, 12687406);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5630, 'Asia', -2147483648, 13140768);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5631, 'Asia', -2147483648, 13684105);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5632, 'Asia', -2147483648, 13807486);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5633, 'Asia', -2147483648, 14237805);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5634, 'Asia', -2147483648, 14733966);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5635, 'Asia', -2147483648, 15297055);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5636, 'Asia', -2147483648, 15570595);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5637, 'Asia', -2147483648, 16271027);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5638, 'Asia', -2147483648, 16857679);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5639, 'Asia', -2147483648, 17028220);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5640, 'Asia', -2147483648, 17955949);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5641, 'Asia', -2147483648, 18929213);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5642, 'Asia', -2147483648, 19939738);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5643, 'Asia', -2147483648, 20732193);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5644, 'Asia', -2147483648, 21785256);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5645, 'Asia', -2147483648, 22334276);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5646, 'Asia', -2147483648, 22452345);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5647, 'Asia', -2147483648, 23318116);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5648, 'Asia', -2147483648, 24343584);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5649, 'Asia', -2147483648, 24973381);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5650, 'Asia', -2147483648, 25601323);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5651, 'Asia', -2147483648, 26286481);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5652, 'Asia', -2147483648, 26612578);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5653, 'Asia', -2147483648, 26785430);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5654, 'Asia', -2147483648, 27126898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5655, 'Asia', -2147483648, 27576213);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5656, 'Asia', -2147483648, 28480616);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5657, 'Asia', -2147483648, 29486230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5658, 'Asia', -2147483648, 29995963);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5659, 'Asia', -2147483648, 30542834);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5660, 'Asia', -2147483648, 30974846);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5661, 'Asia', -2147483648, 31607985);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5662, 'Asia', -2147483648, 32660742);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5663, 'Asia', -2147483648, 33238262);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5664, 'Asia', -2147483648, 34319874);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5665, 'Asia', -2147483648, 34996324);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5666, 'Asia', -2147483648, 36111697);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5667, 'Asia', -2147483648, 36672468);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5668, 'Asia', -2147483648, 37814436);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5669, 'Asia', -2147483648, 38485974);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5670, 'Asia', -2147483648, 39317180);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5671, 'Asia', -2147483648, 40577747);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5672, 'Asia', -2147483648, 41373649);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5673, 'Asia', -2147483648, 42289814);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5674, 'Asia', -2147483648, 43402158);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5675, 'Asia', -2147483648, 44811477);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5676, 'Asia', -2147483648, 47078939);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5677, 'Asia', -2147483648, 47998374);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5678, 'Asia', -2147483648, 49894245);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5679, 'Asia', -2147483648, 50563237);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5680, 'Asia', -2147483648, 50905682);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5681, 'Asia', -2147483648, 53524527);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5682, 'Asia', -2147483648, 55417921);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5683, 'Asia', -2147483648, 57389779);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5684, 'Asia', -2147483648, 59265143);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5685, 'Asia', -2147483648, 61726083);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5686, 'Asia', -2147483648, 63431839);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5687, 'Asia', -2147483648, 64326761);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5688, 'Asia', -2147483648, 64931338);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5689, 'Asia', -2147483648, 66264962);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5690, 'Asia', -2147483648, 68590786);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5691, 'Asia', -2147483648, 70479822);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5692, 'Asia', -2147483648, 72842436);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5693, 'Asia', -2147483648, 75300374);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5694, 'Asia', -2147483648, 76877241);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5695, 'Asia', -2147483648, 77649664);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5696, 'Asia', -2147483648, 80077416);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5697, 'Asia', -2147483648, 83537506);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5698, 'Asia', -2147483648, 85135266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5699, 'Asia', -2147483648, 87026384);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5700, 'Asia', -2147483648, 88139817);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5701, 'Asia', -2147483648, 89007841);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5702, 'Asia', -2147483648, 89497327);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5703, 'Asia', -2147483648, 90834576);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5704, 'Asia', -2147483648, 92601176);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5705, 'Asia', -2147483648, 93462858);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5706, 'Asia', -2147483648, 95015366);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5707, 'Asia', -2147483648, 96373759);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5708, 'Asia', -2147483648, 97131260);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5709, 'Asia', -2147483648, 97793442);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5710, 'Asia', -2147483648, 99083199);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5711, 'Asia', -2147483648, 100171424);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5712, 'Asia', -2147483648, 100903968);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5713, 'Asia', -2147483648, 101954310);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5714, 'Asia', -2147483648, 102696896);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5715, 'Asia', -2147483648, 103365562);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5716, 'Asia', -2147483648, 104420939);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5717, 'Asia', -2147483648, 105531181);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5718, 'Asia', -2147483648, 106908182);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5719, 'Asia', -2147483648, 108088055);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5720, 'Asia', -2147483648, 109260093);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5721, 'Asia', -2147483648, 110452141);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5722, 'Asia', -2147483648, 111520699);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5723, 'Asia', -2147483648, 112200725);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5724, 'Asia', -2147483648, 113272630);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5725, 'Asia', -2147483648, 114963782);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5726, 'Asia', -2147483648, 116407804);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5727, 'Asia', -2147483648, 341134050);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5728, 'Asia', -2147483648, 342461400);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5729, 'Asia', -2147483648, 343882492);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5730, 'Asia', -2147483648, 345083685);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5731, 'Asia', -2147483648, 347063607);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5732, 'Asia', -2147483648, 349569127);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5733, 'Asia', -2147483648, 351518275);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5734, 'Asia', -2147483648, 353449990);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5735, 'Asia', -2147483648, 355132012);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5736, 'Asia', -2147483648, 356738817);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5737, 'Asia', -2147483648, 358115774);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5738, 'Asia', -2147483648, 360499114);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5739, 'Asia', -2147483648, 362520511);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5740, 'Asia', -2147483648, 364141425);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5741, 'Asia', -2147483648, 366327892);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5742, 'Asia', -2147483648, 368683345);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5743, 'Asia', -2147483648, 371024023);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5744, 'Asia', -2147483648, 374306224);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5745, 'Asia', -2147483648, 376571770);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5746, 'Asia', -2147483648, 380275713);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5747, 'Asia', -2147483648, 382620654);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5748, 'Asia', -2147483648, 385574890);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5749, 'Asia', -2147483648, 387538662);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5750, 'Asia', -2147483648, 392463034);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5751, 'Asia', -2147483648, 394704559);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5752, 'Asia', -2147483648, 400369481);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5753, 'Asia', -2147483648, 403203491);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5754, 'Asia', -2147483648, 406472413);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5755, 'Asia', -2147483648, 411872716);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5756, 'Asia', -2147483648, 414022581);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5757, 'Asia', -2147483648, 418291733);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5758, 'Asia', -2147483648, 420558357);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5759, 'Asia', -2147483648, 424190919);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5760, 'Asia', -2147483648, 428484536);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5761, 'Asia', -2147483648, 432825847);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5762, 'Asia', -2147483648, 437552294);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5763, 'Asia', -2147483648, 441671322);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5764, 'Asia', -2147483648, 445763910);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5765, 'Asia', -2147483648, 447576547);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5766, 'Asia', -2147483648, 452381019);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5767, 'Asia', -2147483648, 455263668);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5768, 'Asia', -2147483648, 458655935);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5769, 'Asia', -2147483648, 463002280);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5770, 'Asia', -2147483648, 466768576);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5771, 'Asia', -2147483648, 470763871);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5772, 'Asia', -2147483648, 474700187);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5773, 'Asia', -2147483648, 481978292);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5774, 'Asia', -2147483648, 486981874);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5775, 'Asia', -2147483648, 491330678);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5776, 'Asia', -2147483648, 498037426);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5777, 'Asia', -2147483648, 502761252);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5778, 'Asia', -2147483648, 505252555);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5779, 'Asia', -2147483648, 509508862);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5780, 'Asia', -2147483648, 513553849);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5781, 'Asia', -2147483648, 520284469);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5782, 'Asia', -2147483648, 524778892);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5783, 'Asia', -2147483648, 529343686);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5784, 'Asia', -2147483648, 533331432);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5785, 'Asia', -2147483648, 536735812);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5786, 'Asia', -2147483648, 540049083);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5787, 'Asia', -2147483648, 552063526);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5788, 'Asia', -2147483648, 558419137);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5789, 'Asia', -2147483648, 564221983);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5790, 'Asia', -2147483648, 1123298702);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5791, 'Asia', -2147483648, 1128331465);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5792, 'Asia', -2147483648, 1132507791);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5793, 'Asia', -2147483648, 1137763510);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5794, 'Asia', -2147483648, 1142823655);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5795, 'Asia', -2147483648, 1149625285);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5796, 'Asia', -2147483648, 1154510200);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5797, 'Asia', -2147483648, 1158727672);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5798, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5799, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5800, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5801, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5802, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5803, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5804, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5805, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5806, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5807, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5808, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5809, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5810, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5811, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5812, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5813, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5814, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5815, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5816, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5817, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5818, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5819, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5820, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5821, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5822, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5823, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5824, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5825, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5826, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5827, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5828, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5829, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5830, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5831, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5832, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5833, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5834, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5835, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5836, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5837, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5838, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5839, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5840, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5841, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5842, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5843, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5844, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5845, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5846, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5847, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5848, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5849, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5850, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5851, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5852, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5853, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5854, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5855, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5856, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5857, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5858, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5859, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5860, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5861, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5862, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5863, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5864, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5865, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5866, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5867, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5868, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5869, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5870, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5871, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5872, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5873, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5874, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5875, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5876, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5877, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5878, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5879, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5880, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5881, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5882, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5883, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5884, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5885, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5886, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5887, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5888, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5889, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5890, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5891, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5892, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5893, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5894, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5895, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5896, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5897, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5898, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5899, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5900, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5901, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5902, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5903, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5904, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5905, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5906, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5907, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5908, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5909, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5910, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5911, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5912, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5913, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5914, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5915, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5916, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5917, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5918, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5919, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5920, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5921, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5922, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5923, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5924, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5925, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5926, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5927, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5928, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5929, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5930, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5931, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5932, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5933, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5934, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5935, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5936, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5937, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5938, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5939, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5940, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5941, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5942, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5943, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5944, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5945, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5946, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5947, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5948, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5949, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5950, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5951, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5952, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5953, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5954, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5955, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5956, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5957, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5958, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5959, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5960, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5961, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5962, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5963, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5964, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5965, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5966, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5967, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5968, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5969, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5970, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5971, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5972, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5973, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5974, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5975, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (5976, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5977, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5978, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5979, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5980, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5981, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5982, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5983, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5984, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5985, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5986, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5987, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5988, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5989, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5990, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5991, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5992, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5993, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5994, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5995, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5996, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5997, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5998, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (5999, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6000, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6001, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6002, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6003, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6004, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6005, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6006, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6007, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6008, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6009, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6010, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6011, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6012, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6013, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6014, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6015, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6016, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6017, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6018, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6019, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6020, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6021, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6022, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6023, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6024, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6025, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6026, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6027, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6028, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6029, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6030, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6031, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6032, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6033, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6034, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6035, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6036, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6037, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6038, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6039, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6040, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6041, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6042, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6043, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6044, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6045, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6046, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6047, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6048, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6049, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6050, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6051, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6052, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6053, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6054, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6055, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6056, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6057, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6058, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6059, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6060, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6061, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6062, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6063, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6064, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6065, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6066, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6067, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6068, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6069, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6070, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6071, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6072, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6073, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6074, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6075, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6076, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6077, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6078, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6079, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6080, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6081, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6082, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6083, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6084, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6085, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6086, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6087, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6088, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6089, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6090, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6091, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6092, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6093, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6094, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6095, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6096, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6097, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6098, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6099, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6100, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6101, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6102, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6103, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6104, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6105, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6106, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6107, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6108, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6109, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6110, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6111, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6112, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6113, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6114, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6115, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6116, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6117, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6118, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6119, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6120, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6121, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6122, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6123, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6124, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6125, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6126, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6127, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6128, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6129, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6130, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6131, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6132, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6133, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6134, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6135, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6136, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6137, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6138, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6139, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6140, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6141, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6142, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6143, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6144, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6145, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6146, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6147, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6148, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6149, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6150, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6151, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6152, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6153, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6154, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6155, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6156, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6157, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6158, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6159, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6160, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6161, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6162, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6163, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6164, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6165, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6166, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6167, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6168, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6169, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6170, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6171, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6172, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6173, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6174, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6175, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6176, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6177, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6178, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6179, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6180, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6181, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6182, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6183, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6184, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6185, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6186, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6187, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6188, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6189, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6190, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6191, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6192, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6193, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6194, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6195, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6196, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6197, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6198, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6199, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6200, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6201, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6202, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6203, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6204, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6205, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6206, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6207, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6208, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6209, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6210, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6211, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6212, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6213, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6214, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6215, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6216, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6217, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6218, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6219, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6220, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6221, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6222, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6223, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6224, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6225, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6226, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6227, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6228, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6229, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6230, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6231, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6232, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6233, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6234, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6235, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6236, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6237, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6238, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6239, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6240, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6241, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6242, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6243, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6244, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6245, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6246, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6247, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6248, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6249, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6250, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6251, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6252, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6253, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6254, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6255, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6256, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6257, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6258, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6259, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6260, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6261, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6262, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6263, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6264, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6265, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6266, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6267, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6268, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6269, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6270, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6271, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6272, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6273, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6274, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6275, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6276, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6277, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6278, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6279, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6280, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6281, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6282, 'Australia', 25499881, 416293);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6283, 'Australia', 25499881, 419237);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6284, 'Australia', 25499881, 472882);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6285, 'Australia', 25499881, 481681);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6286, 'Australia', 25499881, 491319);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6287, 'Australia', 25499881, 496024);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6288, 'Australia', 25499881, 497821);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6289, 'Australia', 25499881, 499237);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6290, 'Australia', 25499881, 502968);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6291, 'Australia', 25499881, 540631);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6292, 'Australia', 25499881, 548892);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6293, 'Australia', 25499881, 557475);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6294, 'Australia', 25499881, 564816);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6295, 'Australia', 25499881, 568490);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6296, 'Australia', 25499881, 575984);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6297, 'Australia', 25499881, 635116);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6298, 'Australia', 25499881, 649574);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6299, 'Australia', 25499881, 656482);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6300, 'Australia', 25499881, 668997);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6301, 'Australia', 25499881, 683397);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6302, 'Australia', 25499881, 693242);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6303, 'Australia', 25499881, 694872);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6304, 'Australia', 25499881, 698892);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6305, 'Australia', 25499881, 778333);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6306, 'Australia', 25499881, 800566);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6307, 'Australia', 25499881, 821007);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6308, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6309, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6310, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6311, 'Australia', 25499881, 1087344);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6312, 'Australia', 25499881, 1114401);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6313, 'Australia', 25499881, 1130791);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6314, 'Australia', 25499881, 1169716);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6315, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6316, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6317, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6318, 'Australia', 25499881, 1477360);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6319, 'Australia', 25499881, 1501475);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6320, 'Australia', 25499881, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6321, 'Australia', 25499881, 1726273);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6322, 'Australia', 25499881, 1808266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6323, 'Australia', 25499881, 1855746);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6324, 'Australia', 25499881, 1877621);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6325, 'Australia', 25499881, 1944225);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6326, 'Australia', 25499881, 2023935);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6327, 'Australia', 25499881, 2099475);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6328, 'Australia', 25499881, 2180544);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6329, 'Australia', 25499881, 2254598);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6330, 'Australia', 25499881, 2303847);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6331, 'Australia', 25499881, 2325721);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6332, 'Australia', 25499881, 2400772);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6333, 'Australia', 25499881, 2488649);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6334, 'Australia', 25499881, 2578512);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6335, 'Australia', 25499881, 2669945);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6336, 'Australia', 25499881, 2753511);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6337, 'Australia', 25499881, 2801868);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6338, 'Australia', 25499881, 2828259);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6339, 'Australia', 25499881, 2906803);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6340, 'Australia', 25499881, 2994696);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6341, 'Australia', 25499881, 3090133);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6342, 'Australia', 25499881, 3183426);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6343, 'Australia', 25499881, 3271964);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6344, 'Australia', 25499881, 3327213);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6345, 'Australia', 25499881, 3359005);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6346, 'Australia', 25499881, 3445022);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6347, 'Australia', 25499881, 3545062);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6348, 'Australia', 25499881, 3624882);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6349, 'Australia', 25499881, 3729786);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6350, 'Australia', 25499881, 3832934);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6351, 'Australia', 25499881, 3893539);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6352, 'Australia', 25499881, 3930960);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6353, 'Australia', 25499881, 4027658);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6354, 'Australia', 25499881, 4139162);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6355, 'Australia', 25499881, 4254352);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6356, 'Australia', 25499881, 4372546);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6357, 'Australia', 25499881, 4489605);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6358, 'Australia', 25499881, 4573793);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6359, 'Australia', 25499881, 4614203);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6360, 'Australia', 25499881, 4722807);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6361, 'Australia', 25499881, 4852972);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6362, 'Australia', 25499881, 4983184);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6363, 'Australia', 25499881, 5117483);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6364, 'Australia', 25499881, 5253934);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6365, 'Australia', 25499881, 5330589);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6366, 'Australia', 25499881, 5367178);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6367, 'Australia', 25499881, 5498928);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6368, 'Australia', 25499881, 5627554);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6369, 'Australia', 25499881, 5771199);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6370, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6371, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6372, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6373, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6374, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6375, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6376, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6377, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6378, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6379, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6380, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6381, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6382, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6383, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6384, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6385, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6386, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6387, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6388, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6389, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6390, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6391, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6392, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6393, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6394, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6395, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6396, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6397, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6398, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6399, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6400, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6401, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6402, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6403, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6404, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6405, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6406, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6407, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6408, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6409, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6410, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6411, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6412, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6413, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6414, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6415, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6416, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6417, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6418, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6419, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6420, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6421, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6422, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6423, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6424, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6425, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6426, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6427, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6428, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6429, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6430, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6431, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6432, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6433, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6434, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6435, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6436, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6437, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6438, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6439, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6440, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6441, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6442, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6443, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6444, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6445, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6446, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6447, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6448, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6449, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6450, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6451, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6452, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6453, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6454, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6455, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6456, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6457, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6458, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6459, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6460, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6461, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6462, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6463, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6464, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6465, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6466, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6467, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6468, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6469, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6470, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6471, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6472, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6473, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6474, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6475, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6476, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6477, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6478, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6479, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6480, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6481, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6482, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6483, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6484, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6485, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6486, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6487, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6488, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6489, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6490, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6491, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6492, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6493, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6494, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6495, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6496, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6497, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6498, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6499, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6500, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6501, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6502, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6503, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6504, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6505, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6506, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6507, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6508, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6509, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6510, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6511, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6512, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6513, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6514, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6515, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6516, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6517, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6518, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6519, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6520, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6521, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6522, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6523, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6524, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6525, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6526, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6527, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6528, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6529, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6530, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6531, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6532, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6533, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6534, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6535, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6536, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6537, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6538, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6539, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6540, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6541, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6542, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6543, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6544, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6545, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6546, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6547, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6548, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6549, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6550, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6551, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6552, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6553, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6554, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6555, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6556, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6557, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6558, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6559, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6560, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6561, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6562, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6563, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6564, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6565, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6566, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6567, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6568, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6569, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6570, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6571, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6572, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6573, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6574, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6575, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6576, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6577, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6578, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6579, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6580, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6581, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6582, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6583, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6584, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6585, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6586, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6587, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6588, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6589, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6590, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6591, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6592, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6593, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6594, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6595, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6596, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6597, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6598, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6599, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6600, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6601, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6602, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6603, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6604, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6605, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6606, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6607, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6608, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6609, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6610, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6611, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6612, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6613, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6614, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6615, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6616, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6617, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6618, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6619, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6620, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6621, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6622, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6623, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6624, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6625, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6626, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6627, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6628, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6629, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6630, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6631, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6632, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6633, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6634, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6635, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6636, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6637, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6638, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6639, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6640, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6641, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6642, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6643, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6644, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6645, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6646, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6647, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6648, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6649, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6650, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6651, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6652, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6653, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6654, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6655, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6656, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6657, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6658, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6659, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6660, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6661, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6662, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6663, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6664, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6665, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6666, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6667, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6668, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6669, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6670, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6671, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6672, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6673, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6674, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6675, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6676, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6677, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6678, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6679, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6680, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6681, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6682, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6683, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6684, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6685, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6686, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6687, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6688, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6689, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6690, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6691, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6692, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6693, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6694, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6695, 'Austria', 9006400, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6696, 'Austria', 9006400, 12);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6697, 'Austria', 9006400, 387);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6698, 'Austria', 9006400, 1283);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6699, 'Austria', 9006400, 2760);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6700, 'Austria', 9006400, 4079);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6701, 'Austria', 9006400, 4250);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6702, 'Austria', 9006400, 4838);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6703, 'Austria', 9006400, 4840);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6704, 'Austria', 9006400, 4848);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6705, 'Austria', 9006400, 4962);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6706, 'Austria', 9006400, 5873);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6707, 'Austria', 9006400, 6403);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6708, 'Austria', 9006400, 9075);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6709, 'Austria', 9006400, 18826);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6710, 'Austria', 9006400, 21214);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6711, 'Austria', 9006400, 22227);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6712, 'Austria', 9006400, 25363);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6713, 'Austria', 9006400, 39857);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6714, 'Austria', 9006400, 55024);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6715, 'Austria', 9006400, 72950);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6716, 'Austria', 9006400, 90249);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6717, 'Austria', 9006400, 96685);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6718, 'Austria', 9006400, 101120);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6719, 'Austria', 9006400, 108895);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6720, 'Austria', 9006400, 125776);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6721, 'Austria', 9006400, 144292);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6722, 'Austria', 9006400, 163877);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6723, 'Austria', 9006400, 182303);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6724, 'Austria', 9006400, 187443);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6725, 'Austria', 9006400, 189027);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6726, 'Austria', 9006400, 192266);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6727, 'Austria', 9006400, 199978);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6728, 'Austria', 9006400, 209647);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6729, 'Austria', 9006400, 217796);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6730, 'Austria', 9006400, 226318);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6731, 'Austria', 9006400, 228026);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6732, 'Austria', 9006400, 228411);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6733, 'Austria', 9006400, 230263);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6734, 'Austria', 9006400, 234760);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6735, 'Austria', 9006400, 238252);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6736, 'Austria', 9006400, 241952);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6737, 'Austria', 9006400, 246947);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6738, 'Austria', 9006400, 248930);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6739, 'Austria', 9006400, 249391);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6740, 'Austria', 9006400, 250281);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6741, 'Austria', 9006400, 252698);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6742, 'Austria', 9006400, 255097);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6743, 'Austria', 9006400, 257893);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6744, 'Austria', 9006400, 261037);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6745, 'Austria', 9006400, 263585);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6746, 'Austria', 9006400, 264248);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6747, 'Austria', 9006400, 265650);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6748, 'Austria', 9006400, 269227);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6749, 'Austria', 9006400, 273768);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6750, 'Austria', 9006400, 279246);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6751, 'Austria', 9006400, 284694);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6752, 'Austria', 9006400, 290505);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6753, 'Austria', 9006400, 294756);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6754, 'Austria', 9006400, 297099);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6755, 'Austria', 9006400, 303577);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6756, 'Austria', 9006400, 311781);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6757, 'Austria', 9006400, 319992);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6758, 'Austria', 9006400, 328688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6759, 'Austria', 9006400, 338376);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6760, 'Austria', 9006400, 342274);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6761, 'Austria', 9006400, 344880);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6762, 'Austria', 9006400, 361623);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6763, 'Austria', 9006400, 379754);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6764, 'Austria', 9006400, 396414);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6765, 'Austria', 9006400, 415347);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6766, 'Austria', 9006400, 430083);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6767, 'Austria', 9006400, 434795);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6768, 'Austria', 9006400, 440455);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6769, 'Austria', 9006400, 452336);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6770, 'Austria', 9006400, 465580);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6771, 'Austria', 9006400, 484838);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6772, 'Austria', 9006400, 504252);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6773, 'Austria', 9006400, 513377);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6774, 'Austria', 9006400, 515160);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6775, 'Austria', 9006400, 519965);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6776, 'Austria', 9006400, 532088);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6777, 'Austria', 9006400, 548399);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6778, 'Austria', 9006400, 574361);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6779, 'Austria', 9006400, 607857);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6780, 'Austria', 9006400, 636809);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6781, 'Austria', 9006400, 652505);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6782, 'Austria', 9006400, 659632);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6783, 'Austria', 9006400, 671321);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6784, 'Austria', 9006400, 685127);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6785, 'Austria', 9006400, 704320);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6786, 'Austria', 9006400, 723019);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6787, 'Austria', 9006400, 744967);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6788, 'Austria', 9006400, 749305);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6789, 'Austria', 9006400, 755110);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6790, 'Austria', 9006400, 767898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6791, 'Austria', 9006400, 778772);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6792, 'Austria', 9006400, 789449);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6793, 'Austria', 9006400, 800972);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6794, 'Austria', 9006400, 806845);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6795, 'Austria', 9006400, 808671);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6796, 'Austria', 9006400, 812230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6797, 'Austria', 9006400, 823655);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6798, 'Austria', 9006400, 838176);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6799, 'Austria', 9006400, 853499);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6800, 'Austria', 9006400, 867327);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6801, 'Austria', 9006400, 875533);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6802, 'Austria', 9006400, 876934);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6803, 'Austria', 9006400, 889258);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6804, 'Austria', 9006400, 911201);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6805, 'Austria', 9006400, 929485);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6806, 'Austria', 9006400, 950354);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6807, 'Austria', 9006400, 973809);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6808, 'Austria', 9006400, 993463);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6809, 'Austria', 9006400, 999611);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6810, 'Austria', 9006400, 1010913);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6811, 'Austria', 9006400, 1028994);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6812, 'Austria', 9006400, 1053260);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6813, 'Austria', 9006400, 1061835);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6814, 'Austria', 9006400, 1086247);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6815, 'Austria', 9006400, 1103201);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6816, 'Austria', 9006400, 1110417);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6817, 'Austria', 9006400, 1129135);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6818, 'Austria', 9006400, 1157001);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6819, 'Austria', 9006400, 1190651);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6820, 'Austria', 9006400, 1227326);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6821, 'Austria', 9006400, 1269071);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6822, 'Austria', 9006400, 1289272);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6823, 'Austria', 9006400, 1300853);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6824, 'Austria', 9006400, 1313793);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6825, 'Austria', 9006400, 1332643);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6826, 'Austria', 9006400, 1378376);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6827, 'Austria', 9006400, 1426014);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6828, 'Austria', 9006400, 1482919);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6829, 'Austria', 9006400, 1520606);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6830, 'Austria', 9006400, 1544798);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6831, 'Austria', 9006400, 1570034);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6832, 'Austria', 9006400, 1610926);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6833, 'Austria', 9006400, 1683699);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6834, 'Austria', 9006400, 1722319);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6835, 'Austria', 9006400, 1772390);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6836, 'Austria', 9006400, 1802424);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6837, 'Austria', 9006400, 1832202);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6838, 'Austria', 9006400, 1866827);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6839, 'Austria', 9006400, 1913063);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6840, 'Austria', 9006400, 1972438);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6841, 'Austria', 9006400, 2046208);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6842, 'Austria', 9006400, 2126043);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6843, 'Austria', 9006400, 2168286);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6844, 'Austria', 9006400, 2188914);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6845, 'Austria', 9006400, 2220333);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6846, 'Austria', 9006400, 2262488);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6847, 'Austria', 9006400, 2335817);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6848, 'Austria', 9006400, 2411699);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6849, 'Austria', 9006400, 2486717);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6850, 'Austria', 9006400, 2523412);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6851, 'Austria', 9006400, 2541254);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6852, 'Austria', 9006400, 2574427);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6853, 'Austria', 9006400, 2632492);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6854, 'Austria', 9006400, 2710607);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6855, 'Austria', 9006400, 2789051);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6856, 'Austria', 9006400, 2878060);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6857, 'Austria', 9006400, 2928934);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6858, 'Austria', 9006400, 2948408);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6859, 'Austria', 9006400, 2986358);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6860, 'Austria', 9006400, 3050273);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6861, 'Austria', 9006400, 3134985);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6862, 'Austria', 9006400, 3225261);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6863, 'Austria', 9006400, 3314560);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6864, 'Austria', 9006400, 3365490);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6865, 'Austria', 9006400, 3392019);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6866, 'Austria', 9006400, 3423999);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6867, 'Austria', 9006400, 3481827);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6868, 'Austria', 9006400, 3553128);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6869, 'Austria', 9006400, 3627230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6870, 'Austria', 9006400, 3697157);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6871, 'Austria', 9006400, 3738320);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6872, 'Austria', 9006400, 3759688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6873, 'Austria', 9006400, 3788884);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6874, 'Austria', 9006400, 3844395);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6875, 'Austria', 9006400, 3911235);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6876, 'Austria', 9006400, 3959706);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6877, 'Austria', 9006400, 4025022);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6878, 'Austria', 9006400, 4065024);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6879, 'Austria', 9006400, 4087431);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6880, 'Austria', 9006400, 4108919);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6881, 'Austria', 9006400, 4145095);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6882, 'Austria', 9006400, 4202448);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6883, 'Austria', 9006400, 4256712);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6884, 'Austria', 9006400, 4313612);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6885, 'Austria', 9006400, 4356371);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6886, 'Austria', 9006400, 4379838);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6887, 'Austria', 9006400, 4402590);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6888, 'Austria', 9006400, 4449815);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6889, 'Austria', 9006400, 4498823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6890, 'Austria', 9006400, 4535828);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6891, 'Austria', 9006400, 4582885);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6892, 'Austria', 9006400, 4613828);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6893, 'Austria', 9006400, 4639011);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6894, 'Austria', 9006400, 4662714);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6895, 'Austria', 9006400, 4702324);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6896, 'Austria', 9006400, 4739983);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6897, 'Austria', 9006400, 4773059);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6898, 'Austria', 9006400, 4812007);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6899, 'Austria', 9006400, 4837420);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6900, 'Austria', 9006400, 4859317);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6901, 'Austria', 9006400, 4871289);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6902, 'Austria', 9006400, 4906531);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6903, 'Austria', 9006400, 4940084);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6904, 'Austria', 9006400, 4965246);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6905, 'Austria', 9006400, 4986688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6906, 'Austria', 9006400, 5000148);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6907, 'Austria', 9006400, 5007862);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6908, 'Austria', 9006400, 5026696);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6909, 'Austria', 9006400, 5045778);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6910, 'Austria', 9006400, 5065323);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6911, 'Austria', 9006400, 5084278);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6912, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6913, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6914, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6915, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6916, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6917, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6918, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6919, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6920, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6921, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6922, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6923, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6924, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6925, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6926, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6927, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6928, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6929, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6930, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6931, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6932, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6933, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6934, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6935, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6936, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6937, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6938, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6939, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6940, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6941, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6942, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6943, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6944, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6945, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6946, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6947, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6948, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6949, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6950, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6951, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6952, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6953, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6954, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6955, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6956, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6957, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6958, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6959, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6960, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6961, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6962, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6963, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6964, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6965, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6966, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6967, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6968, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6969, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6970, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6971, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6972, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6973, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6974, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6975, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6976, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6977, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6978, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6979, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6980, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6981, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6982, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6983, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6984, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6985, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6986, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6987, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6988, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6989, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6990, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6991, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6992, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6993, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6994, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6995, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6996, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6997, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (6998, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (6999, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7000, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7001, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7002, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7003, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7004, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7005, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7006, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7007, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7008, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7009, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7010, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7011, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7012, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7013, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7014, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7015, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7016, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7017, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7018, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7019, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7020, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7021, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7022, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7023, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7024, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7025, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7026, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7027, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7028, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7029, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7030, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7031, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7032, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7033, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7034, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7035, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7036, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7037, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7038, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7039, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7040, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7041, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7042, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7043, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7044, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7045, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7046, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7047, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7048, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7049, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7050, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7051, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7052, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7053, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7054, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7055, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7056, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7057, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7058, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7059, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7060, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7061, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7062, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7063, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7064, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7065, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7066, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7067, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7068, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7069, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7070, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7071, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7072, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7073, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7074, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7075, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7076, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7077, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7078, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7079, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7080, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7081, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7082, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7083, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7084, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7085, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7086, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7087, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7088, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7089, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7090, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7091, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7092, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7093, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7094, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7095, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7096, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7097, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7098, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7099, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7100, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7101, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7102, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7103, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7104, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7105, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7106, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7107, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7108, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7109, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7110, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7111, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7112, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7113, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7114, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7115, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7116, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7117, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7118, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7119, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7120, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7121, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7122, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7123, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7124, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7125, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7126, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7127, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7128, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7129, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7130, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7131, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7132, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7133, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7134, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7135, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7136, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7137, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7138, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7139, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7140, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7141, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7142, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7143, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7144, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7145, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7146, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7147, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7148, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7149, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7150, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7151, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7152, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7153, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7154, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7155, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7156, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7157, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7158, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7159, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7160, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7161, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7162, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7163, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7164, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7165, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7166, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7167, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7168, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7169, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7170, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7171, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7172, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7173, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7174, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7175, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7176, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7177, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7178, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7179, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7180, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7181, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7182, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7183, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7184, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7185, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7186, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7187, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7188, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7189, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7190, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7191, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7192, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7193, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7194, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7195, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7196, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7197, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7198, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7199, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7200, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7201, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7202, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7203, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7204, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7205, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7206, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7207, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7208, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7209, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7210, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7211, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7212, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7213, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7214, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7215, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7216, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7217, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7218, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7219, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7220, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7221, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7222, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7223, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7224, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7225, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7226, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7227, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7228, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7229, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7230, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7231, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7232, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7233, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7234, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7235, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7236, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7237, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7238, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7239, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7240, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7241, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7242, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7243, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7244, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7245, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7246, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7247, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7248, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7249, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7250, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7251, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7252, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7253, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7254, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7255, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7256, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7257, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7258, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7259, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7260, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7261, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7262, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7263, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7264, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7265, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7266, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7267, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7268, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7269, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7270, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7271, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7272, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7273, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7274, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7275, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7276, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7277, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7278, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7279, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7280, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7281, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7282, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7283, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7284, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7285, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7286, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7287, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7288, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7289, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7290, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7291, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7292, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7293, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7294, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7295, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7296, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7297, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7298, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7299, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7300, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7301, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7302, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7303, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7304, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7305, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7306, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7307, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7308, 'Azerbaijan', 10139175, 297878);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7309, 'Azerbaijan', 10139175, 319039);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7310, 'Azerbaijan', 10139175, 342350);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7311, 'Azerbaijan', 10139175, 356831);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7312, 'Azerbaijan', 10139175, 356935);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7313, 'Azerbaijan', 10139175, 370820);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7314, 'Azerbaijan', 10139175, 386327);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7315, 'Azerbaijan', 10139175, 396985);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7316, 'Azerbaijan', 10139175, 405289);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7317, 'Azerbaijan', 10139175, 414230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7318, 'Azerbaijan', 10139175, 418812);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7319, 'Azerbaijan', 10139175, 418898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7320, 'Azerbaijan', 10139175, 425097);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7321, 'Azerbaijan', 10139175, 429778);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7322, 'Azerbaijan', 10139175, 434487);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7323, 'Azerbaijan', 10139175, 439985);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7324, 'Azerbaijan', 10139175, 445678);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7325, 'Azerbaijan', 10139175, 448145);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7326, 'Azerbaijan', 10139175, 448148);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7327, 'Azerbaijan', 10139175, 452997);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7328, 'Azerbaijan', 10139175, 458218);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7329, 'Azerbaijan', 10139175, 464090);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7330, 'Azerbaijan', 10139175, 470315);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7331, 'Azerbaijan', 10139175, 477575);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7332, 'Azerbaijan', 10139175, 484197);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7333, 'Azerbaijan', 10139175, 484200);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7334, 'Azerbaijan', 10139175, 493409);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7335, 'Azerbaijan', 10139175, 502569);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7336, 'Azerbaijan', 10139175, 511775);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7337, 'Azerbaijan', 10139175, 522086);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7338, 'Azerbaijan', 10139175, 533683);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7339, 'Azerbaijan', 10139175, 541715);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7340, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7341, 'Azerbaijan', 10139175, 556323);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7342, 'Azerbaijan', 10139175, 578144);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7343, 'Azerbaijan', 10139175, 601631);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7344, 'Azerbaijan', 10139175, 630516);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7345, 'Azerbaijan', 10139175, 659804);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7346, 'Azerbaijan', 10139175, 681719);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7347, 'Azerbaijan', 10139175, 681863);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7348, 'Azerbaijan', 10139175, 696419);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7349, 'Azerbaijan', 10139175, 713015);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7350, 'Azerbaijan', 10139175, 729173);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7351, 'Azerbaijan', 10139175, 739153);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7352, 'Azerbaijan', 10139175, 751050);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7353, 'Azerbaijan', 10139175, 764218);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7354, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7355, 'Azerbaijan', 10139175, 791876);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7356, 'Azerbaijan', 10139175, 808878);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7357, 'Azerbaijan', 10139175, 823210);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7358, 'Azerbaijan', 10139175, 834919);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7359, 'Azerbaijan', 10139175, 846519);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7360, 'Azerbaijan', 10139175, 852593);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7361, 'Azerbaijan', 10139175, 852686);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7362, 'Azerbaijan', 10139175, 862740);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7363, 'Azerbaijan', 10139175, 871206);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7364, 'Azerbaijan', 10139175, 880688);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7365, 'Azerbaijan', 10139175, 889829);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7366, 'Azerbaijan', 10139175, 894710);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7367, 'Azerbaijan', 10139175, 900031);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7368, 'Azerbaijan', 10139175, 900258);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7369, 'Azerbaijan', 10139175, 907817);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7370, 'Azerbaijan', 10139175, 914320);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7371, 'Azerbaijan', 10139175, 920089);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7372, 'Azerbaijan', 10139175, 925460);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7373, 'Azerbaijan', 10139175, 931195);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7374, 'Azerbaijan', 10139175, 935004);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7375, 'Azerbaijan', 10139175, 935271);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7376, 'Azerbaijan', 10139175, 940356);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7377, 'Azerbaijan', 10139175, 945428);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7378, 'Azerbaijan', 10139175, 949920);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7379, 'Azerbaijan', 10139175, 953988);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7380, 'Azerbaijan', 10139175, 959361);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7381, 'Azerbaijan', 10139175, 964462);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7382, 'Azerbaijan', 10139175, 964537);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7383, 'Azerbaijan', 10139175, 973392);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7384, 'Azerbaijan', 10139175, 979837);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7385, 'Azerbaijan', 10139175, 992847);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7386, 'Azerbaijan', 10139175, 1007149);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7387, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7388, 'Azerbaijan', 10139175, 1039823);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7389, 'Azerbaijan', 10139175, 1040027);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7390, 'Azerbaijan', 10139175, 1060586);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7391, 'Azerbaijan', 10139175, 1082728);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7392, 'Azerbaijan', 10139175, 1111796);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7393, 'Azerbaijan', 10139175, 1148125);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7394, 'Azerbaijan', 10139175, 1181622);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7395, 'Azerbaijan', 10139175, 1209743);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7396, 'Azerbaijan', 10139175, 1210034);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7397, 'Azerbaijan', 10139175, 1248055);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7398, 'Azerbaijan', 10139175, 1296229);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7399, 'Azerbaijan', 10139175, 1340292);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7400, 'Azerbaijan', 10139175, 1379921);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7401, 'Azerbaijan', 10139175, 1418584);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7402, 'Azerbaijan', 10139175, 1447687);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7403, 'Azerbaijan', 10139175, 1448162);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7404, 'Azerbaijan', 10139175, 1483659);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7405, 'Azerbaijan', 10139175, 1514617);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7406, 'Azerbaijan', 10139175, 1546929);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7407, 'Azerbaijan', 10139175, 1577683);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7408, 'Azerbaijan', 10139175, 1610116);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7409, 'Azerbaijan', 10139175, 1633039);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7410, 'Azerbaijan', 10139175, 1633334);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7411, 'Azerbaijan', 10139175, 1664747);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7412, 'Azerbaijan', 10139175, 1688221);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7413, 'Azerbaijan', 10139175, 1711960);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7414, 'Azerbaijan', 10139175, 1734611);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7415, 'Azerbaijan', 10139175, 1757167);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7416, 'Azerbaijan', 10139175, 1776537);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7417, 'Azerbaijan', 10139175, 1776839);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7418, 'Azerbaijan', 10139175, 1792209);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7419, 'Azerbaijan', 10139175, 1801782);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7420, 'Azerbaijan', 10139175, 1813457);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7421, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7422, 'Azerbaijan', 10139175, 1882972);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7423, 'Azerbaijan', 10139175, 1909821);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7424, 'Azerbaijan', 10139175, 1910056);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7425, 'Azerbaijan', 10139175, 1945857);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7426, 'Azerbaijan', 10139175, 1982925);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7427, 'Azerbaijan', 10139175, 2020534);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7428, 'Azerbaijan', 10139175, 2057717);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7429, 'Azerbaijan', 10139175, 2092231);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7430, 'Azerbaijan', 10139175, 2117301);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7431, 'Azerbaijan', 10139175, 2117496);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7432, 'Azerbaijan', 10139175, 2147721);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7433, 'Azerbaijan', 10139175, 2173808);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7434, 'Azerbaijan', 10139175, 2197491);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7435, 'Azerbaijan', 10139175, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7436, 'Azerbaijan', 10139175, 2241256);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7437, 'Azerbaijan', 10139175, 2257759);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7438, 'Azerbaijan', 10139175, 2257999);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7439, 'Azerbaijan', 10139175, 2277935);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7440, 'Azerbaijan', 10139175, 2299824);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7441, 'Azerbaijan', 10139175, 2320161);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7442, 'Azerbaijan', 10139175, 2339121);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7443, 'Azerbaijan', 10139175, 2358955);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7444, 'Azerbaijan', 10139175, 2374294);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7445, 'Azerbaijan', 10139175, 2374339);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7446, 'Azerbaijan', 10139175, 2392409);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7447, 'Azerbaijan', 10139175, 2406267);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7448, 'Azerbaijan', 10139175, 2416859);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7449, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7450, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7451, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7452, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7453, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7454, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7455, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7456, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7457, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7458, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7459, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7460, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7461, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7462, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7463, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7464, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7465, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7466, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7467, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7468, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7469, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7470, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7471, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7472, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7473, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7474, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7475, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7476, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7477, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7478, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7479, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7480, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7481, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7482, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7483, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7484, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7485, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7486, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7487, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7488, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7489, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7490, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7491, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7492, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7493, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7494, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7495, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7496, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7497, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7498, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7499, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7500, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7501, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7502, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7503, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7504, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7505, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7506, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7507, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7508, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7509, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7510, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7511, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7512, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7513, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7514, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7515, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7516, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7517, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7518, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7519, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7520, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7521, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7522, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7523, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7524, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7525, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7526, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7527, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7528, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7529, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7530, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7531, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7532, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7533, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7534, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7535, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7536, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7537, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7538, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7539, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7540, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7541, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7542, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7543, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7544, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7545, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7546, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7547, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7548, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7549, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7550, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7551, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7552, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7553, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7554, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7555, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7556, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7557, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7558, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7559, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7560, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7561, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7562, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7563, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7564, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7565, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7566, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7567, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7568, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7569, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7570, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7571, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7572, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7573, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7574, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7575, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7576, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7577, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7578, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7579, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7580, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7581, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7582, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7583, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7584, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7585, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7586, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7587, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7588, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7589, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7590, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7591, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7592, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7593, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7594, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7595, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7596, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7597, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7598, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7599, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7600, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7601, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7602, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7603, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7604, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7605, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7606, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7607, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7608, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7609, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7610, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7611, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7612, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7613, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7614, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7615, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7616, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7617, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7618, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7619, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7620, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7621, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7622, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7623, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7624, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7625, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7626, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7627, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7628, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7629, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7630, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7631, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7632, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7633, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7634, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7635, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7636, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7637, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7638, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7639, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7640, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7641, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7642, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7643, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7644, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7645, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7646, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7647, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7648, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7649, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7650, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7651, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7652, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7653, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7654, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7655, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7656, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7657, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7658, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7659, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7660, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7661, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7662, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7663, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7664, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7665, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7666, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7667, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7668, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7669, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7670, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7671, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7672, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7673, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7674, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7675, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7676, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7677, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7678, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7679, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7680, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7681, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7682, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7683, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7684, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7685, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7686, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7687, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7688, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7689, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7690, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7691, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7692, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7693, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7694, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7695, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7696, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7697, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7698, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7699, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7700, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7701, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7702, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7703, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7704, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7705, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7706, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7707, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7708, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7709, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7710, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7711, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7712, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7713, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7714, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7715, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7716, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7717, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7718, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7719, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7720, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7721, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7722, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7723, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7724, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7725, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7726, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7727, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7728, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7729, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7730, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7731, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7732, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7733, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7734, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7735, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7736, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7737, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7738, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7739, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7740, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7741, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7742, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7743, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7744, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7745, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7746, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7747, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7748, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7749, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7750, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7751, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7752, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7753, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7754, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7755, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7756, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7757, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7758, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7759, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7760, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7761, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7762, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7763, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7764, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7765, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7766, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7767, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7768, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7769, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7770, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7771, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7772, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7773, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7774, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7775, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7776, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7777, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7778, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7779, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7780, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7781, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7782, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7783, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7784, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7785, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7786, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7787, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7788, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7789, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7790, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7791, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7792, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7793, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7794, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7795, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7796, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7797, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7798, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7799, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7800, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7801, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7802, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7803, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7804, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7805, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7806, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7807, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7808, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7809, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7810, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7811, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7812, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7813, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7814, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7815, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7816, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7817, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7818, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7819, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7820, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7821, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7822, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7823, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7824, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7825, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7826, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7827, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7828, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7829, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7830, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7831, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7832, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7833, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7834, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7835, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7836, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7837, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7838, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7839, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7840, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7841, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7842, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7843, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7844, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7845, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7846, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7847, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7848, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7849, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7850, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7851, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7852, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7853, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7854, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7855, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7856, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7857, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7858, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7859, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7860, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7861, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7862, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7863, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7864, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7865, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7866, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7867, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7868, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7869, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7870, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7871, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7872, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7873, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7874, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7875, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7876, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7877, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7878, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7879, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7880, 'Bahamas', 393248, 6016);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7881, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7882, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7883, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7884, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7885, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7886, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7887, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7888, 'Bahamas', 393248, 8659);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7889, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7890, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7891, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7892, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7893, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7894, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7895, 'Bahamas', 393248, 13749);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7896, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7897, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7898, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7899, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7900, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7901, 'Bahamas', 393248, 17827);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7902, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7903, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7904, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7905, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7906, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7907, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7908, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7909, 'Bahamas', 393248, 25047);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7910, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7911, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7912, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7913, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7914, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7915, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7916, 'Bahamas', 393248, 32945);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7917, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7918, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7919, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7920, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7921, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7922, 'Bahamas', 393248, 36261);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7923, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7924, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7925, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7926, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7927, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7928, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7929, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7930, 'Bahamas', 393248, 37689);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7931, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7932, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7933, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7934, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7935, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7936, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7937, 'Bahamas', 393248, 39366);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7938, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7939, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7940, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7941, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7942, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7943, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7944, 'Bahamas', 393248, 43943);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7945, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7946, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7947, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (7948, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7949, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7950, 'Bahamas', 393248, 43943);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7951, 'Bahamas', 393248, 46793);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7952, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7953, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7954, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7955, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7956, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7957, 'Bahamas', 393248, 46793);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7958, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7959, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7960, 'Bahamas', 393248, 47580);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7961, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7962, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7963, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7964, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7965, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7966, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7967, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7968, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7969, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7970, 'Bahamas', 393248, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7971, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7972, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7973, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7974, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7975, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7976, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7977, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7978, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7979, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7980, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7981, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7982, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7983, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7984, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7985, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7986, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7987, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7988, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7989, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7990, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7991, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7992, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7993, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7994, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7995, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7996, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7997, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7998, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (7999, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8000, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8001, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8002, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8003, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8004, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8005, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8006, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8007, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8008, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8009, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8010, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8011, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8012, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8013, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8014, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8015, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8016, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8017, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8018, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8019, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8020, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8021, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8022, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8023, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8024, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8025, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8026, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8027, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8028, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8029, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8030, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8031, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8032, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8033, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8034, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8035, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8036, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8037, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8038, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8039, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8040, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8041, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8042, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8043, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8044, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8045, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8046, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8047, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8048, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8049, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8050, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8051, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8052, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8053, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8054, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8055, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8056, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8057, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8058, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8059, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8060, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8061, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8062, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8063, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8064, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8065, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8066, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8067, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8068, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8069, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8070, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8071, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8072, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8073, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8074, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8075, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8076, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8077, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8078, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8079, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8080, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8081, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8082, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8083, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8084, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8085, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8086, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8087, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8088, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8089, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8090, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8091, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8092, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8093, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8094, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8095, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8096, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8097, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8098, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8099, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8100, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8101, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8102, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8103, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8104, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8105, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8106, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8107, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8108, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8109, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8110, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8111, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8112, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8113, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8114, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8115, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8116, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8117, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8118, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8119, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8120, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8121, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8122, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8123, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8124, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8125, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8126, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8127, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8128, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8129, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8130, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8131, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8132, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8133, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8134, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8135, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8136, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8137, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8138, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8139, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8140, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8141, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8142, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8143, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8144, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8145, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8146, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8147, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8148, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8149, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8150, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8151, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8152, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8153, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8154, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8155, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8156, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8157, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8158, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8159, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8160, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8161, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8162, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8163, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8164, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8165, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8166, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8167, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8168, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8169, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8170, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8171, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8172, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8173, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8174, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8175, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8176, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8177, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8178, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8179, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8180, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8181, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8182, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8183, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8184, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8185, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8186, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8187, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8188, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8189, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8190, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8191, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8192, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8193, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8194, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8195, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8196, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8197, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8198, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8199, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8200, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8201, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8202, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8203, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8204, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8205, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8206, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8207, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8208, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8209, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8210, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8211, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8212, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8213, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8214, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8215, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8216, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8217, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8218, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8219, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8220, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8221, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8222, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8223, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8224, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8225, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8226, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8227, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8228, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8229, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8230, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8231, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8232, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8233, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8234, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8235, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8236, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8237, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8238, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8239, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8240, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8241, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8242, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8243, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8244, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8245, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8246, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8247, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8248, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8249, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8250, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8251, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8252, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8253, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8254, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8255, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8256, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8257, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8258, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8259, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8260, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8261, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8262, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8263, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8264, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8265, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8266, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8267, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8268, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8269, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8270, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8271, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8272, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8273, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8274, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8275, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8276, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8277, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8278, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8279, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8280, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8281, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8282, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8283, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8284, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8285, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8286, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8287, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8288, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8289, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8290, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8291, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8292, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8293, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8294, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8295, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8296, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8297, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8298, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8299, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8300, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8301, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8302, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8303, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8304, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8305, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8306, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8307, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8308, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8309, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8310, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8311, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8312, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8313, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8314, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8315, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8316, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8317, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8318, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8319, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8320, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8321, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8322, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8323, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8324, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8325, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8326, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8327, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8328, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8329, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8330, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8331, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8332, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8333, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8334, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8335, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8336, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8337, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8338, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8339, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8340, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8341, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8342, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8343, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8344, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8345, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8346, 'Bahrain', 1701583, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8347, 'Bahrain', 1701583, 199374);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8348, 'Bahrain', 1701583, 201442);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8349, 'Bahrain', 1701583, 202679);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8350, 'Bahrain', 1701583, 203915);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8351, 'Bahrain', 1701583, 206072);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8352, 'Bahrain', 1701583, 208325);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8353, 'Bahrain', 1701583, 210225);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8354, 'Bahrain', 1701583, 212117);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8355, 'Bahrain', 1701583, 214181);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8356, 'Bahrain', 1701583, 216826);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8357, 'Bahrain', 1701583, 219298);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8358, 'Bahrain', 1701583, 222573);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8359, 'Bahrain', 1701583, 227520);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8360, 'Bahrain', 1701583, 230395);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8361, 'Bahrain', 1701583, 232782);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8362, 'Bahrain', 1701583, 235872);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8363, 'Bahrain', 1701583, 238915);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8364, 'Bahrain', 1701583, 240648);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8365, 'Bahrain', 1701583, 242128);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8366, 'Bahrain', 1701583, 243940);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8367, 'Bahrain', 1701583, 245481);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8368, 'Bahrain', 1701583, 245907);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8369, 'Bahrain', 1701583, 248077);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8370, 'Bahrain', 1701583, 250516);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8371, 'Bahrain', 1701583, 253008);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8372, 'Bahrain', 1701583, 255440);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8373, 'Bahrain', 1701583, 257593);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8374, 'Bahrain', 1701583, 259575);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8375, 'Bahrain', 1701583, 270585);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8376, 'Bahrain', 1701583, 286964);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8377, 'Bahrain', 1701583, 302432);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8378, 'Bahrain', 1701583, 316370);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8379, 'Bahrain', 1701583, 333285);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8380, 'Bahrain', 1701583, 348791);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8381, 'Bahrain', 1701583, 361924);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8382, 'Bahrain', 1701583, 376815);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8383, 'Bahrain', 1701583, 391300);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8384, 'Bahrain', 1701583, 405090);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8385, 'Bahrain', 1701583, 415799);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8386, 'Bahrain', 1701583, 430661);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8387, 'Bahrain', 1701583, 445862);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8388, 'Bahrain', 1701583, 456184);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8389, 'Bahrain', 1701583, 463289);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8390, 'Bahrain', 1701583, 474844);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8391, 'Bahrain', 1701583, 484518);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8392, 'Bahrain', 1701583, 491472);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8393, 'Bahrain', 1701583, 499930);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8394, 'Bahrain', 1701583, 507061);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8395, 'Bahrain', 1701583, 509887);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8396, 'Bahrain', 1701583, 516480);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8397, 'Bahrain', 1701583, 520745);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8398, 'Bahrain', 1701583, 525060);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8399, 'Bahrain', 1701583, 529818);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8400, 'Bahrain', 1701583, 534673);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8401, 'Bahrain', 1701583, 538822);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8402, 'Bahrain', 1701583, 541747);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8403, 'Bahrain', 1701583, 544317);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8404, 'Bahrain', 1701583, 547063);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8405, 'Bahrain', 1701583, 550659);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8406, 'Bahrain', 1701583, 554364);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8407, 'Bahrain', 1701583, 558531);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8408, 'Bahrain', 1701583, 562453);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8409, 'Bahrain', 1701583, 566168);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8410, 'Bahrain', 1701583, 570362);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8411, 'Bahrain', 1701583, 578786);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8412, 'Bahrain', 1701583, 588730);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8413, 'Bahrain', 1701583, 602390);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8414, 'Bahrain', 1701583, 612813);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8415, 'Bahrain', 1701583, 617139);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8416, 'Bahrain', 1701583, 621215);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8417, 'Bahrain', 1701583, 626384);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8418, 'Bahrain', 1701583, 634236);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8419, 'Bahrain', 1701583, 642187);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8420, 'Bahrain', 1701583, 651346);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8421, 'Bahrain', 1701583, 657975);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8422, 'Bahrain', 1701583, 663479);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8423, 'Bahrain', 1701583, 673132);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8424, 'Bahrain', 1701583, 683223);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8425, 'Bahrain', 1701583, 699308);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8426, 'Bahrain', 1701583, 716760);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8427, 'Bahrain', 1701583, 732710);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8428, 'Bahrain', 1701583, 746062);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8429, 'Bahrain', 1701583, 758376);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8430, 'Bahrain', 1701583, 766554);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8431, 'Bahrain', 1701583, 773002);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8432, 'Bahrain', 1701583, 782374);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8433, 'Bahrain', 1701583, 791054);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8434, 'Bahrain', 1701583, 798397);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8435, 'Bahrain', 1701583, 805845);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8436, 'Bahrain', 1701583, 808551);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8437, 'Bahrain', 1701583, 811912);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8438, 'Bahrain', 1701583, 815230);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8439, 'Bahrain', 1701583, 823489);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8440, 'Bahrain', 1701583, 831944);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8441, 'Bahrain', 1701583, 839685);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8442, 'Bahrain', 1701583, 845480);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8443, 'Bahrain', 1701583, 852131);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8444, 'Bahrain', 1701583, 855898);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8445, 'Bahrain', 1701583, 860178);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8446, 'Bahrain', 1701583, 864930);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8447, 'Bahrain', 1701583, 868925);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8448, 'Bahrain', 1701583, 872508);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8449, 'Bahrain', 1701583, 876102);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8450, 'Bahrain', 1701583, 880146);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8451, 'Bahrain', 1701583, 885470);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8452, 'Bahrain', 1701583, 890922);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8453, 'Bahrain', 1701583, 899514);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8454, 'Bahrain', 1701583, 910436);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8455, 'Bahrain', 1701583, 921473);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8456, 'Bahrain', 1701583, 930614);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8457, 'Bahrain', 1701583, 944093);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8458, 'Bahrain', 1701583, 959527);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8459, 'Bahrain', 1701583, 968525);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8460, 'Bahrain', 1701583, 975169);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8461, 'Bahrain', 1701583, 979113);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8462, 'Bahrain', 1701583, 983247);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8463, 'Bahrain', 1701583, 987140);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8464, 'Bahrain', 1701583, 991125);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8465, 'Bahrain', 1701583, 993896);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8466, 'Bahrain', 1701583, 996404);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8467, 'Bahrain', 1701583, 1000567);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8468, 'Bahrain', 1701583, 1005161);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8469, 'Bahrain', 1701583, 1008024);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8470, 'Bahrain', 1701583, 1010882);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8471, 'Bahrain', 1701583, 1013728);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8472, 'Bahrain', 1701583, 1017365);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8473, 'Bahrain', 1701583, 1018988);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8474, 'Bahrain', 1701583, 1021658);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8475, 'Bahrain', 1701583, 1023415);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8476, 'Bahrain', 1701583, 1025112);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8477, 'Bahrain', 1701583, 1026749);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8478, 'Bahrain', 1701583, 1028011);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8479, 'Bahrain', 1701583, 1029835);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8480, 'Bahrain', 1701583, 1030588);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8481, 'Bahrain', 1701583, 1032792);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8482, 'Bahrain', 1701583, 1034354);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8483, 'Bahrain', 1701583, 1035604);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8484, 'Bahrain', 1701583, 1036747);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8485, 'Bahrain', 1701583, 1038168);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8486, 'Bahrain', 1701583, 1039944);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8487, 'Bahrain', 1701583, 1041059);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8488, 'Bahrain', 1701583, 1044087);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8489, 'Bahrain', 1701583, 1045871);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8490, 'Bahrain', 1701583, 1047845);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8491, 'Bahrain', 1701583, 1049663);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8492, 'Bahrain', 1701583, 1051287);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8493, 'Bahrain', 1701583, 1052384);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8494, 'Bahrain', 1701583, 1055185);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8495, 'Bahrain', 1701583, 1057053);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8496, 'Bahrain', 1701583, 1058710);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8497, 'Bahrain', 1701583, 1059925);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8498, 'Bahrain', 1701583, 1061122);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8499, 'Bahrain', 1701583, 1062237);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8500, 'Bahrain', 1701583, 1062841);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8501, 'Bahrain', 1701583, 1063519);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8502, 'Bahrain', 1701583, 1064697);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8503, 'Bahrain', 1701583, 1065187);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8504, 'Bahrain', 1701583, 1066070);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8505, 'Bahrain', 1701583, 1067589);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8506, 'Bahrain', 1701583, 1068514);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8507, 'Bahrain', 1701583, 1069185);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8508, 'Bahrain', 1701583, 1069945);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8509, 'Bahrain', 1701583, 1071350);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8510, 'Bahrain', 1701583, 1072508);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8511, 'Bahrain', 1701583, 1073383);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8512, 'Bahrain', 1701583, 1074086);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8513, 'Bahrain', 1701583, 1074838);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8514, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8515, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8516, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8517, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8518, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8519, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8520, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8521, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8522, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8523, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8524, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8525, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8526, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8527, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8528, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8529, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8530, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8531, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8532, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8533, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8534, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8535, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8536, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8537, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8538, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8539, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8540, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8541, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8542, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8543, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8544, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8545, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8546, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8547, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8548, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8549, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8550, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8551, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8552, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8553, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8554, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8555, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8556, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8557, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8558, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8559, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8560, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8561, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8562, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8563, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8564, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8565, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8566, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8567, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8568, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8569, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8570, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8571, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8572, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8573, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8574, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8575, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8576, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8577, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8578, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8579, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8580, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8581, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8582, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8583, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8584, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)

            VALUES (8585, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8586, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8587, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8588, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8589, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8590, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8591, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8592, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8593, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8594, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8595, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8596, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8597, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8598, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8599, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8600, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8601, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8602, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8603, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8604, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8605, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8606, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8607, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8608, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8609, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8610, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8611, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8612, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8613, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8614, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8615, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8616, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8617, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8618, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8619, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8620, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8621, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8622, 'Bangladesh', 164689383, 0);
INSERT INTO bigdata.family_group (id, location, population, people_fully_vaccinated)
            VALUES (8623, 'Bangladesh', 164689383, 0);

#### Carrega os dados do banco

In [167]:
SQL = 'SELECT * FROM bigdata.FAMILY_GROUP'
df2= pd.DataFrame(list(session.execute(SQL)))

#### Fecha a conexão

In [ ]:
session.shutdown()

In [168]:
paises = df[columns]

#### Trata os dados negativos

In [179]:
paises.loc[paises['population'] < 0, 'population'] = [i.split('-')[1] for i in paises['population'][paises['population'] < 0].astype(str).values]

#### Agrupa os dados

In [180]:
total_vacinados = paises[['location', 'people_fully_vaccinated']].groupby('location').max().reset_index()['people_fully_vaccinated'].values

#### Dropa dados duplicados para formar um novo dataframe

In [190]:
new_df = paises[['location', 'population']].drop_duplicates()
new_df['total_vacinados'] = total_vacinados
new_df.head(4)

         location    population  total_vacinados
0     Afghanistan  3.892834e+07           219159
543        Africa  1.340598e+09         31374048
1097      Albania  2.877800e+06           575342
1639      Algeria  4.385104e+07           724812

#### Calcula o percentual de vacinados por paises e ordena o dataset da maior taxa para menor

In [185]:
new_df['taxa'] = new_df['total_vacinados'] / df['population'] * 100
new_df = new_df.sort_values('taxa', ascending=True)

In [191]:
new_df.head(10)

                 location    population  total_vacinados
0             Afghanistan  3.892834e+07           219159
543                Africa  1.340598e+09         31374048
1097              Albania  2.877800e+06           575342
1639              Algeria  4.385104e+07           724812
2181              Andorra  7.726500e+04            40616
2717               Angola  3.286627e+07           727297
3235             Anguilla  1.500200e+04             8965
3419  Antigua and Barbuda  9.792800e+04            32248
3944            Argentina  4.519578e+07         10786254
4541              Armenia  2.963234e+06            75663

#### Plota grafico de barras com os percentuais

In [187]:
import plotly.graph_objects as go
layout = go.Layout(yaxis=dict(tickformat=".2%"))
fig = go.Figure(go.Bar(
            x=new_df['taxa'],
            y=new_df['location'],
            orientation='h'),
            layout = layout)

fig.show()